In [1]:
import pandas as pd

In [3]:
df=pd.read_excel(r'Attribute DataSet.xlsx')

In [16]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
5,1068332458,bohemian,Low,0.0,M,Summer,v-neck,sleevless,empire,NaN,NaN,NaN,print,0
6,1220707172,Casual,Average,0.0,XL,Summer,o-neck,full,NaN,cotton,NaN,NaN,solid,0
7,1219677488,Novelty,Average,0.0,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,NaN,0
8,1113094204,Flare,Average,0.0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1
9,985292672,bohemian,Low,0.0,free,Summer,v-neck,sleevless,natural,nylon,chiffon,NaN,NaN,1
10,1117293701,party,Average,5.0,free,Summer,o-neck,full,natural,polyster,broadcloth,lace,solid,0
11,898481530,Flare,Average,0.0,free,Spring,v-neck,short,NaN,nylon,NaN,NaN,animal,0
12,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1
13,749031896,vintage,Average,4.8,M,Summer,o-neck,short,empire,cotton,jersey,NaN,animal,1
14,1055411544,Casual,Low,5.0,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0
15,1162628131,Casual,Low,0.0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0
16,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1
17,830467746,bohemian,Medium,5.0,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1
18,840857118,Brief,Average,0.0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0
19,1113221101,Sexy,Average,5.0,M,Automn,o-neck,sleevless,empire,milksilk,NaN,NaN,NaN,1
20,861754372,Sexy,Average,4.5,L,Automn,o-neck,full,NaN,cotton,NaN,beading,solid,0
21,856178100,Casual,Low,4.3,M,Summer,o-neck,sleevless,natural,NaN,chiffon,NaN,solid,0
22,1122989777,Brief,Low,4.0,XL,Summer,v-neck,short,natural,cotton,NaN,pockets,solid,0
23,840516484,Sexy,Average,4.7,S,Summer,v-neck,sleevless,empire,cotton,NaN,sequined,solid,1
24,768517084,Sexy,Average,0.0,free,Automn,v-neck,sleevless,natural,polyster,NaN,lace,patchwork,0
25,1139843344,Sexy,Average,0.0,M,Automn,o-neck,sleevless,empire,cotton,broadcloth,NaN,print,0
26,1004212992,Sexy,Average,4.7,M,Spring,o-neck,sleevless,natural,NaN,NaN,NaN,solid,1
27,1235426503,Casual,Low,0.0,L,Summer,o-neck,sleevless,natural,cotton,jersey,NaN,print,0
28,942808364,cute,Low,4.3,free,Automn,o-neck,sleevless,natural,polyster,chiffon,sashes,striped,0
29,629131530,cute,Low,4.7,M,Spring,ruffled,short,empire,chiffonfabric,chiffon,bow,dot,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1124754999,Sexy,Average,0.0,S,Summer,v-neck,sleevless,NaN,NaN,NaN,NaN,NaN,1
471,832949213,Casual,Low,4.4,free,Summer,o-neck,sleevless,NaN,NaN,NaN,NaN,animal,0
472,801216472,cute,high,4.3,M,Spring,boat-neck,full,natural,polyster,terry,lace,solid,1
473,929898500,work,Average,4.8,M,winter,turndowncollor,full,natural,NaN,NaN,NaN,solid,0
474,850490510,Casual,Average,4.6,M,Spring,o-neck,halfsleeve,natural,polyster,NaN,lace,solid,0
475,1099394392,Sexy,Low,0.0,free,Summer,v-neck,sleevless,empire,cotton,NaN,NaN,solid,0
476,674885710,Casual,high,4.9,XL,winter,v-neck,full,empire,cotton,NaN,sequined,solid,0
477,1122991519,Sexy,Low,0.0,free,winter,o-neck,sleevless,natural,lycra,chiffon,hollowout,solid,0
478,904781800,cute,Average,5.0,M,Autumn,v-neck,sleevless,natural,cotton,NaN,NaN,solid,0
479,974438263,cute,Low,0.0,free,Spring,v-neck,sleevless,natural,silk,worsted,lace,patchwork,1
480,875608094,Casual,Low,4.4,free,Summer,o-neck,full,natural,cotton,NaN,pockets,solid,0
481,1061890181,Casual,Average,0.0,L,Spring,o-neck,sleevless,natural,chiffonfabric,chiffon,sequined,solid,0
482,1033144189,cute,Average,4.7,M,Spring,o-neck,full,natural,rayon,chiffon,beading,solid,1
483,860406062,Casual,Average,4.6,M,winter,v-neck,halfsleeve,natural,silk,chiffon,sashes,solid,1
484,692445545,Casual,Low,4.4,free,Summer,o-neck,full,natural,cotton,NaN,NaN,solid,1
485,974775647,Casual,Low,5.0,M,Automn,o-neck,sleevless,empire,NaN,chiffon,NaN,print,1
486,1109819647,Casual,Average,0.0,free,winter,o-neck,short,natural,polyster,chiffon,cascading,solid,0
487,1223469038,Sexy,Average,0.0,free,winter,slash-neck,sleevless,natural,cotton,broadcloth,sequined,solid,1
488,511503677,Casual,Low,4.4,M,Summer,o-neck,halfsleeve,empire,chiffonfabric,chiffon,bow,solid,0
489,1190558632,cute,Average,0.0,L,Summer,o-neck,sleevless,empire,cotton,NaN,lace,solid,1
490,641665398,Casual,Low,4.8,free,winter,bowneck,full,natural,polyster,chiffon,bow,solid,0
491,964917582,Casual,Average,5.0,L,Summer,o-neck,sleevless,natural,cotton,NaN,NaN,NaN,1
492,859922576,cute,Average,4.6,M,Spring,o-neck,halfsleeve,natural,acrylic,chiffon,NaN,NaN,0
493,817353671,bohemian,Low,4.6,free,Summer,o-neck,sleevless,natural,cotton,chiffon,none,solid,1
494,990559192,Brief,Average,4.7,M,winter,o-neck,halfsleeve,natural,acrylic,chiffon,NaN,striped,0
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [16]:
df1=pd.read_excel(r'C:\Users\Sneha\Downloads\data fsds -20221005T061947Z-001\data fsds\Attribute DataSet.xlsx', sheet_name='Hi')

In [17]:
df1

     Price  Rating Size  Season
0      Low     4.6    M  Summer
1      Low     0.0    L  Summer
2     High     0.0    L  Automn
3  Average     4.6    L  Spring
4      Low     4.5    M  Summer
5      Low     0.0    M  Summer

In [18]:
df1=pd.read_excel(r'C:\Users\Sneha\Downloads\data fsds -20221005T061947Z-001\data fsds\Attribute DataSet.xlsx', sheet_name='Hi',header=None)

In [19]:
df1

         0       1     2       3
0    Price  Rating  Size  Season
1      Low     4.6     M  Summer
2      Low       0     L  Summer
3     High       0     L  Automn
4  Average     4.6     L  Spring
5      Low     4.5     M  Summer
6      Low       0     M  Summer

In [22]:
df1=pd.read_excel(r'C:\Users\Sneha\Downloads\data fsds -20221005T061947Z-001\data fsds\Attribute DataSet.xlsx', sheet_name='Hi',header=None, names=['A', 'B', 'C'])

In [23]:
df1

              A     B       C
Price    Rating  Size  Season
Low         4.6     M  Summer
Low           0     L  Summer
High          0     L  Automn
Average     4.6     L  Spring
Low         4.5     M  Summer
Low           0     M  Summer

In [25]:
df.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [26]:
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [27]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [28]:
df.tail(6)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
494,990559192,Brief,Average,4.7,M,winter,o-neck,halfsleeve,natural,acrylic,chiffon,NaN,striped,0
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [6]:
pd.read_csv('haberman.csv', header = None, names=['Age',"Pateint's year of operation","Number of positive", 'Survival status'])

     Age  Pateint's year of operation  Number of positive  Survival status
0     30                           64                   1                1
1     30                           62                   3                1
2     30                           65                   0                1
3     31                           59                   2                1
4     31                           65                   4                1
5     33                           58                  10                1
6     33                           60                   0                1
7     34                           59                   0                2
8     34                           66                   9                2
9     34                           58                  30                1
10    34                           60                   1                1
11    34                           61                  10                1
12    34                           67                   7                1
13    34                           60                   0                1
14    35                           64                  13                1
15    35                           63                   0                1
16    36                           60                   1                1
17    36                           69                   0                1
18    37                           60                   0                1
19    37                           63                   0                1
20    37                           58                   0                1
21    37                           59                   6                1
22    37                           60                  15                1
23    37                           63                   0                1
24    38                           69                  21                2
25    38                           59                   2                1
26    38                           60                   0                1
27    38                           60                   0                1
28    38                           62                   3                1
29    38                           64                   1                1
..   ...                          ...                 ...              ...
276   67                           66                   0                1
277   67                           61                   0                1
278   67                           65                   0                1
279   68                           67                   0                1
280   68                           68                   0                1
281   69                           67                   8                2
282   69                           60                   0                1
283   69                           65                   0                1
284   69                           66                   0                1
285   70                           58                   0                2
286   70                           58                   4                2
287   70                           66                  14                1
288   70                           67                   0                1
289   70                           68                   0                1
290   70                           59                   8                1
291   70                           63                   0                1
292   71                           68                   2                1
293   72                           63                   0                2
294   72                           58                   0                1
295   72                           64                   0                1
296   72                           67                   3                1
297   73                           62                   0                1
298   73                           68                   0                1
299   74                           65                   3                2
300   74                           63                   0                1
301   75                           62                   1                1
302   76                           67                   0                1
303   77                           65                   3                1
304   78                           65                   1                2
305   83                           58                   2                2

[306 rows x 4 columns]

In [7]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
5     2001  0.213  0.614 -0.623  1.032  0.959  1.34910  1.392        Up
6     2001  1.392  0.213  0.614 -0.623  1.032  1.44500 -0.403      Down
7     2001 -0.403  1.392  0.213  0.614 -0.623  1.40780  0.027        Up
8     2001  0.027 -0.403  1.392  0.213  0.614  1.16400  1.303        Up
9     2001  1.303  0.027 -0.403  1.392  0.213  1.23260  0.287        Up
10    2001  0.287  1.303  0.027 -0.403  1.392  1.30900 -0.498      Down
11    2001 -0.498  0.287  1.303  0.027 -0.403  1.25800 -0.189      Down
12    2001 -0.189 -0.498  0.287  1.303  0.027  1.09800  0.680        Up
13    2001  0.680 -0.189 -0.498  0.287  1.303  1.05310  0.701        Up
14    2001  0.701  0.680 -0.189 -0.498  0.287  1.14980 -0.562      Down
15    2001 -0.562  0.701  0.680 -0.189 -0.498  1.29530  0.546        Up
16    2001  0.546 -0.562  0.701  0.680 -0.189  1.11880 -1.747      Down
17    2001 -1.747  0.546 -0.562  0.701  0.680  1.04840  0.359        Up
18    2001  0.359 -1.747  0.546 -0.562  0.701  1.01300 -0.151      Down
19    2001 -0.151  0.359 -1.747  0.546 -0.562  1.05960 -0.841      Down
20    2001 -0.841 -0.151  0.359 -1.747  0.546  1.15830 -0.623      Down
21    2001 -0.623 -0.841 -0.151  0.359 -1.747  1.10720 -1.334      Down
22    2001 -1.334 -0.623 -0.841 -0.151  0.359  1.07550  1.183        Up
23    2001  1.183 -1.334 -0.623 -0.841 -0.151  1.03910 -0.865      Down
24    2001 -0.865  1.183 -1.334 -0.623 -0.841  1.07520 -0.218      Down
25    2001 -0.218 -0.865  1.183 -1.334 -0.623  1.15030  0.812        Up
26    2001  0.812 -0.218 -0.865  1.183 -1.334  1.15370 -1.891      Down
27    2001 -1.891  0.812 -0.218 -0.865  1.183  1.25720 -1.736      Down
28    2001 -1.736 -1.891  0.812 -0.218 -0.865  1.11220 -1.851      Down
29    2001 -1.851 -1.736 -1.891  0.812 -0.218  1.20850 -0.195      Down
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1220  2005  0.179 -0.385 -0.078  0.305  0.845  2.12158  0.941        Up
1221  2005  0.941  0.179 -0.385 -0.078  0.305  2.29804  0.440        Up
1222  2005  0.440  0.941  0.179 -0.385 -0.078  2.45329  0.527        Up
1223  2005  0.527  0.440  0.941  0.179 -0.385  2.11735  0.508        Up
1224  2005  0.508  0.527  0.440  0.941  0.179  2.29142  0.347        Up
1225  2005  0.347  0.508  0.527  0.440  0.941  1.98540  0.209        Up
1226  2005  0.209  0.347  0.508  0.527  0.440  0.72494 -0.851      Down
1227  2005 -0.851  0.209  0.347  0.508  0.527  2.01690  0.002        Up
1228  2005  0.002 -0.851  0.209  0.347  0.508  2.26834 -0.636      Down
1229  2005 -0.636  0.002 -0.851  0.209  0.347  2.37469  1.216        Up
1230  2005  1.216 -0.636  0.002 -0.851  0.209  2.61483  0.032        Up
1231  2005  0.032  1.216 -0.636  0.002 -0.851  2.12558 -0.236      Down
1232  2005 -0.236  0.032  1.216 -0.636  0.002  2.32584  0.128        Up
1233  2005  0.128 -0.236  0.032  1.216 -0.636  2.11074 -0.501      Down
1234  2005 -0.501  0.128 -0.236  0.032  1.216  2.09383 -0.122      Down
1235  2005 -0.122 -0.501  0.128 -0.236  0.032  2.17830  0.281        Up
1236  2005  0.281 -0.122 -0.501  0.128 -0.236  1.89629  0.084        Up
1237  2005  0.084  0.281 -0.122 -0.501  0.128  1.87655  0.555        Up
1238  2005  0.555  0.084  0.281 -0.122 -0.501  2.39002  0.419        Up
1239  2005  0.419  0.555  0.084  0.281 -0.122  2.14552 -0.141      Down
1240  2005 -0.141  0.419  0.555  0.084  0.281  2.18059 -0.285      Down
1241  2005 -0.285 -0.141  0.419  0.555  0.084  2.58419 -0.584      Down
1242  2005 -0.584 -0.285 -0.141  0.419  0.555  2.20881 -0.024      Down
1243  2005 -0.024 -0.584 -0.285 -0.141  0.419  1.99669  0.252        Up
1244  2005  0.252 -0.024 -0.584 -0.285 -0.141  2.06517  0.422        Up
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [9]:
a= pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [10]:
type(a)

list

In [11]:
a

[      Rk                 Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...  \
 0      1             Quincy Acy   PF   24  NYK  68  22  1287  152   331  ...
 1      2           Jordan Adams   SG   20  MEM  30   0   248   35    86  ...
 2      3           Steven Adams    C   21  OKC  70  67  1771  217   399  ...
 3      4            Jeff Adrien   PF   28  MIN  17   0   215   19    44  ...
 4      5          Arron Afflalo   SG   29  TOT  78  72  2502  375   884  ...
 5      5          Arron Afflalo   SG   29  DEN  53  53  1750  281   657  ...
 6      5          Arron Afflalo   SG   29  POR  25  19   752   94   227  ...
 7      6          Alexis AjinÃ§a    C   26  NOP  68   8   957  181   329  ...
 8      7         Furkan Aldemir   PF   23  PHI  41   9   540   40    78  ...
 9      8           Cole Aldrich    C   26  NYK  61  16   976  144   301  ...
 10     9      LaMarcus Aldridge   PF   29  POR  71  71  2512  659  1415  ...
 11    10            Lavoy Allen    C   25  IND  63   0  1070  141   299  ...
 12    11             Tony Allen   SG   33  MEM  63  41  1648  225   455  ...
 13    12        Al-Farouq Aminu   SF   24  DAL  74   3  1366  147   357  ...
 14    13           Lou Amundson   PF   32  TOT  53  35   937  109   255  ...
 15    13           Lou Amundson   PF   32  CLE  12   0    79    4    12  ...
 16    13           Lou Amundson   PF   32  NYK  41  35   858  105   243  ...
 17    14         Chris Andersen    C   36  MIA  60  20  1132  120   207  ...
 18    15          Alan Anderson   SG   32  BRK  74  19  1744  195   440  ...
 19    16          Kyle Anderson   SF   21  SAS  33   8   358   31    89  ...
 20    17          Ryan Anderson   PF   26  NOP  61   5  1675  291   729  ...
 21    18  Giannis Antetokounmpo   SG   20  MIL  81  71  2541  383   780  ...
 22    19        Carmelo Anthony   SF   30  NYK  40  40  1428  358   806  ...
 23    20           Joel Anthony    C   32  DET  49   0   406   36    62  ...
 24    Rk                 Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...
 25    21             Pero AntiÄ‡    C   32  ATL  63   3  1037  108   296  ...
 26    22           Trevor Ariza   SF   29  HOU  82  82  2930  366   910  ...
 27    23         Darrell Arthur   PF   26  DEN  58   4   988  155   384  ...
 28    24              Ã–mer AÅŸÄ±k    C   28  NOP  76  76  1982  213   412  ...
 29    25          D.J. Augustin   PG   27  TOT  82  14  1964  258   647  ...
 ..   ...                    ...  ...  ...  ...  ..  ..   ...  ...   ...  ...
 645  477        Elliot Williams   SG   25  TOT  13   0   119   14    37  ...
 646  477        Elliot Williams   SG   25  UTA   5   0    42    6    13  ...
 647  477        Elliot Williams   SG   25  NOP   8   0    77    8    24  ...
 648  478           Lou Williams   SG   28  TOR  80   0  2016  375   928  ...
 649  479        Marvin Williams   PF   28  CHO  78  37  2035  210   495  ...
 650  480            Mo Williams   PG   32  TOT  68  33  1980  341   860  ...
 651  480            Mo Williams   PG   32  MIN  41  19  1149  180   447  ...
 652  480            Mo Williams   PG   32  CHO  27  14   831  161   413  ...
 653   Rk                 Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...
 654  481        Reggie Williams   SF   28  SAS  20   0   105   15    39  ...
 655  482        Shawne Williams   SF   28  TOT  63  22  1087  121   300  ...
 656  482        Shawne Williams   SF   28  MIA  44  22   924  102   240  ...
 657  482        Shawne Williams   SF   28  DET  19   0   163   19    60  ...
 658  483            Jeff Withey    C   24  NOP  37   0   259   32    64  ...
 659  484           Nate Wolters   PG   23  TOT  21   0   247   20    57  ...
 660  484           Nate Wolters   PG   23  MIL  11   0   142   12    31  ...
 661  484           Nate Wolters   PG   23  NOP  10   0   105    8    26  ...
 662  485         Brandan Wright   PF   27  TOT  75   7  1449  233   363  ...
 663  485         Brandan Wright   PF   27  DAL  27   0   505  101   135  ...
 664  485         Brandan Wright   PF   27  BOS   8   0    86   12    21  ...
 665  485         Brandan Wright   PF   27  PHO  40   7   858  120   207  ...
 666  486          Dorell Wright   SF   29  POR  48   2   592   72   190  ...
 667  487            Tony Wroten   PG   21  PHI  30  15   895  175   434  ...
 668  488            James Young   SG   19  BOS  31   0   332   36   102  ...
 669  489             Nick Young   SG   29  LAL  42   0  1000  174   476  ...
 670  490         Thaddeus Young   PF   26  TOT  76  68  2434  451   968  ...
 671  490         Thaddeus Young   PF   26  MIN  48  48  1605  289   641  ...
 672  490         Thaddeus Young   PF   26  BRK  28  20   829  162   327  ...
 673  491            Cody Zeller    C   22  CHO  62  45  1487  172   373  ...
 674  492           Tyler Zeller    C   25  BOS  82  59  1731  340   619  ...

        FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 0     .784   79  222  301   68   27   22   60  147   398
 1     .609    9   19   28   16   16    7   14   24    94
 2     .502  199  324  523   66   38   86   99  222   537
 3     .579   23   54   77   15    4    9    9   30    60
 4     .843   27  220  247  129   41    7  116  167  1035
 5     .841   21  159  180  101   32    5   83  108   771
 6     .851    6   61   67   28    9    2   33   59   264
 7     .818  104  211  315   47   21   51   69  151   443
 8     .481   78   98  176   28   17   16   17   96    93
 9     .781  101  237  338   75   37   65   59  122   338
 10    .845  177  549  726  124   48   68  122  125  1661
 11    .702  123  200  323   73   15   42   40  102   315
 12    .627  103  177  280   86  129   30   86  166   539
 13    .712  114  228  342   59   70   62   55  137   412
 14    .471   94  174  268   70   22   52   62  126   259
 15    .600    5   15   20    5    1    0    5   11    11
 16    .463   89  159  248   65   21   52   57  115   248
 17    .667   76  223  299   43   26   61   40   88   320
 18    .812   31  173  204   83   56    5   60  148   545
 19    .643    5   67   72   28   15    7   10   28    74
 20    .854  108  187  295   55   33   20   62  113   833
 21    .741  100  442  542  207   73   85  173  254  1030
 22    .797   72  192  264  122   40   17   89   87   966
 23    .682   32   61   93    5   12   49   12   55    87
 24     FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 25    .715   58  131  189   49   18   14   49  132   356
 26    .853   77  382  459  209  152   17  141  186  1048
 27    .780   53  118  171   57   48   26   47  146   382
 28    .582  244  504  748   72   29   54   95  144   557
 29    .868   20  141  161  353   49    3  145   93   777
 ..     ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
 645   .250    0    8    8   12    4    0    4   12    37
 646   .500    0    3    3    4    2    0    4    1    18
 647   .000    0    5    5    8    2    0    0   11    19
 648   .861   24  127  151  164   88   10  101  103  1242
 649   .713   58  328  386  100   69   36   60  146   577
 650   .872   22  152  174  424   46   14  172  162   964
 651   .851   13   85   98  261   30    8  102  103   499
 652   .892    9   67   76  163   16    6   70   59   465
 653    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 654  1.000    5   12   17   10    1    0    2   12    37
 655   .875   36  130  166   44   25   21   30  135   341
 656   .848   27  112  139   36   21   17   23  116   292
 657  1.000    9   18   27    8    4    4    7   19    49
 658   .680   23   41   64   11    4   18   12   26    98
 659   .333    8   26   34   21    8    2   13   18    42
 660   .250    2   14   16   10    5    0    3   11    25
 661   .500    6   12   18   11    3    2   10    7    17
 662   .696  128  193  321   41   50   94   34  102   544
 663   .750   51   59  110   10   17   42   13   44   238
 664   .500    7   10   17    8    1    5    5    4    26
 665   .667   70  124  194   23   32   47   16   54   280
 666   .810   14   97  111   41   20   11   18   55   219
 667   .667   22   64   86  157   48    8  113   72   507
 668   .552    9   33   42   13    8    2    5   22   105
 669   .892   17   79   96   41   23   11   44   83   563
 670   .655  127  284  411  173  124   25  117  171  1071
 671   .682   75  170  245  135   86   17   75  115   685
 672   .606   52  114  166   38   38    8   42   56   386
 673   .774   97  265  362  100   34   49   62  156   472
 674   .823  146  319  465  113   18   52   76  205   833

 [675 rows x 30 columns]]

In [12]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
5,5,Arron Afflalo,SG,29,DEN,53,53,1750,281,657,...,.841,21,159,180,101,32,5,83,108,771
6,5,Arron Afflalo,SG,29,POR,25,19,752,94,227,...,.851,6,61,67,28,9,2,33,59,264
7,6,Alexis AjinÃ§a,C,26,NOP,68,8,957,181,329,...,.818,104,211,315,47,21,51,69,151,443
8,7,Furkan Aldemir,PF,23,PHI,41,9,540,40,78,...,.481,78,98,176,28,17,16,17,96,93
9,8,Cole Aldrich,C,26,NYK,61,16,976,144,301,...,.781,101,237,338,75,37,65,59,122,338
10,9,LaMarcus Aldridge,PF,29,POR,71,71,2512,659,1415,...,.845,177,549,726,124,48,68,122,125,1661
11,10,Lavoy Allen,C,25,IND,63,0,1070,141,299,...,.702,123,200,323,73,15,42,40,102,315
12,11,Tony Allen,SG,33,MEM,63,41,1648,225,455,...,.627,103,177,280,86,129,30,86,166,539
13,12,Al-Farouq Aminu,SF,24,DAL,74,3,1366,147,357,...,.712,114,228,342,59,70,62,55,137,412
14,13,Lou Amundson,PF,32,TOT,53,35,937,109,255,...,.471,94,174,268,70,22,52,62,126,259
15,13,Lou Amundson,PF,32,CLE,12,0,79,4,12,...,.600,5,15,20,5,1,0,5,11,11
16,13,Lou Amundson,PF,32,NYK,41,35,858,105,243,...,.463,89,159,248,65,21,52,57,115,248
17,14,Chris Andersen,C,36,MIA,60,20,1132,120,207,...,.667,76,223,299,43,26,61,40,88,320
18,15,Alan Anderson,SG,32,BRK,74,19,1744,195,440,...,.812,31,173,204,83,56,5,60,148,545
19,16,Kyle Anderson,SF,21,SAS,33,8,358,31,89,...,.643,5,67,72,28,15,7,10,28,74
20,17,Ryan Anderson,PF,26,NOP,61,5,1675,291,729,...,.854,108,187,295,55,33,20,62,113,833
21,18,Giannis Antetokounmpo,SG,20,MIL,81,71,2541,383,780,...,.741,100,442,542,207,73,85,173,254,1030
22,19,Carmelo Anthony,SF,30,NYK,40,40,1428,358,806,...,.797,72,192,264,122,40,17,89,87,966
23,20,Joel Anthony,C,32,DET,49,0,406,36,62,...,.682,32,61,93,5,12,49,12,55,87
24,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
25,21,Pero AntiÄ‡,C,32,ATL,63,3,1037,108,296,...,.715,58,131,189,49,18,14,49,132,356
26,22,Trevor Ariza,SF,29,HOU,82,82,2930,366,910,...,.853,77,382,459,209,152,17,141,186,1048
27,23,Darrell Arthur,PF,26,DEN,58,4,988,155,384,...,.780,53,118,171,57,48,26,47,146,382
28,24,Ã–mer AÅŸÄ±k,C,28,NOP,76,76,1982,213,412,...,.582,244,504,748,72,29,54,95,144,557
29,25,D.J. Augustin,PG,27,TOT,82,14,1964,258,647,...,.868,20,141,161,353,49,3,145,93,777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,477,Elliot Williams,SG,25,TOT,13,0,119,14,37,...,.250,0,8,8,12,4,0,4,12,37
646,477,Elliot Williams,SG,25,UTA,5,0,42,6,13,...,.500,0,3,3,4,2,0,4,1,18
647,477,Elliot Williams,SG,25,NOP,8,0,77,8,24,...,.000,0,5,5,8,2,0,0,11,19
648,478,Lou Williams,SG,28,TOR,80,0,2016,375,928,...,.861,24,127,151,164,88,10,101,103,1242
649,479,Marvin Williams,PF,28,CHO,78,37,2035,210,495,...,.713,58,328,386,100,69,36,60,146,577
650,480,Mo Williams,PG,32,TOT,68,33,1980,341,860,...,.872,22,152,174,424,46,14,172,162,964
651,480,Mo Williams,PG,32,MIN,41,19,1149,180,447,...,.851,13,85,98,261,30,8,102,103,499
652,480,Mo Williams,PG,32,CHO,27,14,831,161,413,...,.892,9,67,76,163,16,6,70,59,465
653,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
654,481,Reggie Williams,SF,28,SAS,20,0,105,15,39,...,1.000,5,12,17,10,1,0,2,12,37
655,482,Shawne Williams,SF,28,TOT,63,22,1087,121,300,...,.875,36,130,166,44,25,21,30,135,341
656,482,Shawne Williams,SF,28,MIA,44,22,924,102,240,...,.848,27,112,139,36,21,17,23,116,292
657,482,Shawne Williams,SF,28,DET,19,0,163,19,60,...,1.000,9,18,27,8,4,4,7,19,49
658,483,Jeff Withey,C,24,NOP,37,0,259,32,64,...,.680,23,41,64,11,4,18,12,26,98
659,484,Nate Wolters,PG,23,TOT,21,0,247,20,57,...,.333,8,26,34,21,8,2,13,18,42
660,484,Nate Wolters,PG,23,MIL,11,0,142,12,31,...,.250,2,14,16,10,5,0,3,11,25
661,484,Nate Wolters,PG,23,NOP,10,0,105,8,26,...,.500,6,12,18,11,3,2,10,7,17
662,485,Brandan Wright,PF,27,TOT,75,7,1449,233,363,...,.696,128,193,321,41,50,94,34,102,544
663,485,Brandan Wright,PF,27,DAL,27,0,505,101,135,...,.750,51,59,110,10,17,42,13,44,238
664,485,Brandan Wright,PF,27,BOS,8,0,86,12,21,...,.500,7,10,17,8,1,5,5,4,26
665,485,Brandan Wright,PF,27,PHO,40,7,858,120,207,...,.667,70,124,194,23,32,47,16,54,280
666,486,Dorell Wright,SF,29,POR,48,2,592,72,190,...,.810,14,97,111,41,20,11,18,55,219
667,487,Tony Wroten,PG,21,PHI,30,15,895,175,434,...,.667,22,64,86,157,48,8,113,72,507
668,488,James Young,SG,19,BOS,31,0,332,36,102,...,.552,9,33,42,13,8,2,5,22,105
669,489,Nick Young,SG,29,LAL,42,0,1000,174,476,...,.892,17,79,96,41,23,11,44,83,563
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [15]:
js=pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [16]:
js.columns

Index(['active_lock_reason', 'assignee', 'assignees', 'author_association',
       'body', 'closed_at', 'comments', 'comments_url', 'created_at', 'draft',
       'events_url', 'html_url', 'id', 'labels', 'labels_url', 'locked',
       'milestone', 'node_id', 'number', 'performed_via_github_app',
       'pull_request', 'reactions', 'repository_url', 'state', 'state_reason',
       'timeline_url', 'title', 'updated_at', 'url', 'user'],
      dtype='object')

In [17]:
js['user']

0     {'login': 'mroeschke', 'id': 10647082, 'node_i...
1     {'login': 'GYHHAHA', 'id': 41546976, 'node_id'...
2     {'login': 'roadswitcher', 'id': 35750915, 'nod...
3     {'login': 'mroeschke', 'id': 10647082, 'node_i...
4     {'login': 'vamsi-verma-s', 'id': 40605798, 'no...
5     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
6     {'login': 'voldardard', 'id': 23476328, 'node_...
7     {'login': 'Flix6x', 'id': 30658763, 'node_id':...
8     {'login': 'vamsi-verma-s', 'id': 40605798, 'no...
9     {'login': 'mroeschke', 'id': 10647082, 'node_i...
10    {'login': 'JanHomann', 'id': 35338267, 'node_i...
11    {'login': 'jbrockmendel', 'id': 8078968, 'node...
12    {'login': 'dannyi96', 'id': 15380498, 'node_id...
13    {'login': 'lukemanley', 'id': 8519523, 'node_i...
14    {'login': 'jbrockmendel', 'id': 8078968, 'node...
15    {'login': 'gcbeltramini', 'id': 9801748, 'node...
16    {'login': 'mroeschke', 'id': 10647082, 'node_i...
17    {'login': 'rhshadrach', 'id': 45562402, 'node_...
18    {'login': 'mroeschke', 'id': 10647082, 'node_i...
19    {'login': 'mroeschke', 'id': 10647082, 'node_i...
20    {'login': 'jorisvandenbossche', 'id': 1020496,...
21    {'login': 'meeseeksmachine', 'id': 39504233, '...
22    {'login': 'jorisvandenbossche', 'id': 1020496,...
23    {'login': 'phofl', 'id': 61934744, 'node_id': ...
24    {'login': 'datapythonista', 'id': 10058240, 'n...
25    {'login': 'noatamir', 'id': 6564007, 'node_id'...
26    {'login': 'phofl', 'id': 61934744, 'node_id': ...
27    {'login': 'DanielGoncalves47264', 'id': 792149...
28    {'login': 'bashtage', 'id': 5585221, 'node_id'...
29    {'login': 'noatamir', 'id': 6564007, 'node_id'...
Name: user, dtype: object

In [18]:
js['user'][0]

{'login': 'mroeschke',
 'id': 10647082,
 'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
 'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/mroeschke',
 'html_url': 'https://github.com/mroeschke',
 'followers_url': 'https://api.github.com/users/mroeschke/followers',
 'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
 'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
 'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
 'repos_url': 'https://api.github.com/users/mroeschke/repos',
 'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
 'type': 'User',
 'site_admin': False}

In [19]:
js['user'][1]

{'login': 'GYHHAHA',
 'id': 41546976,
 'node_id': 'MDQ6VXNlcjQxNTQ2OTc2',
 'avatar_url': 'https://avatars.githubusercontent.com/u/41546976?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/GYHHAHA',
 'html_url': 'https://github.com/GYHHAHA',
 'followers_url': 'https://api.github.com/users/GYHHAHA/followers',
 'following_url': 'https://api.github.com/users/GYHHAHA/following{/other_user}',
 'gists_url': 'https://api.github.com/users/GYHHAHA/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/GYHHAHA/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/GYHHAHA/subscriptions',
 'organizations_url': 'https://api.github.com/users/GYHHAHA/orgs',
 'repos_url': 'https://api.github.com/users/GYHHAHA/repos',
 'events_url': 'https://api.github.com/users/GYHHAHA/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/GYHHAHA/received_events',
 'type': 'User',
 'site_admin': False}

In [21]:
df.to_json('test12.json')

In [26]:
df.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation'],
      dtype='object')

In [28]:
type(df['Rating'])

pandas.core.series.Series

In [29]:
df.dtypes # check data types

Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
waiseline          object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
dtype: object

In [30]:
df['Season'] # Check single column

0      Summer
1      Summer
2      Automn
3      Spring
4      Summer
5      Summer
6      Summer
7      Automn
8      Spring
9      Summer
10     Summer
11     Spring
12     Winter
13     Summer
14     Summer
15     Winter
16     spring
17     Automn
18     Winter
19     Automn
20     Automn
21     Summer
22     Summer
23     Summer
24     Automn
25     Automn
26     Spring
27     Summer
28     Automn
29     Spring
        ...
470    Summer
471    Summer
472    Spring
473    winter
474    Spring
475    Summer
476    winter
477    winter
478    Autumn
479    Spring
480    Summer
481    Spring
482    Spring
483    winter
484    Summer
485    Automn
486    winter
487    winter
488    Summer
489    Summer
490    winter
491    Summer
492    Spring
493    Summer
494    winter
495    Spring
496    Summer
497    Summer
498    winter
499    Summer
Name: Season, Length: 500, dtype: object

In [32]:
df[['Season','Style','Material']] #check more than one column

     Season     Style       Material
0    Summer      Sexy            NaN
1    Summer    Casual     microfiber
2    Automn   vintage       polyster
3    Spring     Brief           silk
4    Summer      cute  chiffonfabric
5    Summer  bohemian            NaN
6    Summer    Casual         cotton
7    Automn   Novelty       polyster
8    Spring     Flare         cotton
9    Summer  bohemian          nylon
10   Summer     party       polyster
11   Spring     Flare          nylon
12   Winter      sexy            NaN
13   Summer   vintage         cotton
14   Summer    Casual         cotton
15   Winter    Casual          other
16   spring      cute         cotton
17   Automn  bohemian            NaN
18   Winter     Brief         cotton
19   Automn      Sexy       milksilk
20   Automn      Sexy         cotton
21   Summer    Casual            NaN
22   Summer     Brief         cotton
23   Summer      Sexy         cotton
24   Automn      Sexy       polyster
25   Automn      Sexy         cotton
26   Spring      Sexy            NaN
27   Summer    Casual         cotton
28   Automn      cute       polyster
29   Spring      cute  chiffonfabric
..      ...       ...            ...
470  Summer      Sexy            NaN
471  Summer    Casual            NaN
472  Spring      cute       polyster
473  winter      work            NaN
474  Spring    Casual       polyster
475  Summer      Sexy         cotton
476  winter    Casual         cotton
477  winter      Sexy          lycra
478  Autumn      cute         cotton
479  Spring      cute           silk
480  Summer    Casual         cotton
481  Spring    Casual  chiffonfabric
482  Spring      cute          rayon
483  winter    Casual           silk
484  Summer    Casual         cotton
485  Automn    Casual            NaN
486  winter    Casual       polyster
487  winter      Sexy         cotton
488  Summer    Casual  chiffonfabric
489  Summer      cute         cotton
490  winter    Casual       polyster
491  Summer    Casual         cotton
492  Spring      cute        acrylic
493  Summer  bohemian         cotton
494  winter     Brief        acrylic
495  Spring    Casual       polyster
496  Summer      Sexy         cotton
497  Summer    Casual         cotton
498  winter    Casual           silk
499  Summer    Casual         cotton

[500 rows x 3 columns]

In [33]:
df.describe()

           Dress_ID      Rating  Recommendation
count  5.000000e+02  500.000000      500.000000
mean   9.055417e+08    3.528600        0.420000
std    1.736190e+08    2.005364        0.494053
min    4.442820e+08    0.000000        0.000000
25%    7.673164e+08    3.700000        0.000000
50%    9.083296e+08    4.600000        0.000000
75%    1.039534e+09    4.800000        1.000000
max    1.253973e+09    5.000000        1.000000

In [34]:
df.dtypes =='object'

Dress_ID          False
Style              True
Price              True
Rating            False
Size               True
Season             True
NeckLine           True
SleeveLength       True
waiseline          True
Material           True
FabricType         True
Decoration         True
Pattern Type       True
Recommendation    False
dtype: bool

In [35]:
df.dtypes[df.dtypes =='object']

Style           object
Price           object
Size            object
Season          object
NeckLine        object
SleeveLength    object
waiseline       object
Material        object
FabricType      object
Decoration      object
Pattern Type    object
dtype: object

In [36]:
df.dtypes[df.dtypes =='object'].index

Index(['Style', 'Price', 'Size', 'Season', 'NeckLine', 'SleeveLength',
       'waiseline', 'Material', 'FabricType', 'Decoration', 'Pattern Type'],
      dtype='object')

In [37]:
df[df.dtypes[df.dtypes =='object'].index]

,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type
0,Sexy,Low,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal
1,Casual,Low,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal
2,vintage,High,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print
3,Brief,Average,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print
4,cute,Low,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot
5,bohemian,Low,M,Summer,v-neck,sleevless,empire,NaN,NaN,NaN,print
6,Casual,Average,XL,Summer,o-neck,full,NaN,cotton,NaN,NaN,solid
7,Novelty,Average,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,NaN
8,Flare,Average,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid
9,bohemian,Low,free,Summer,v-neck,sleevless,natural,nylon,chiffon,NaN,NaN
10,party,Average,free,Summer,o-neck,full,natural,polyster,broadcloth,lace,solid
11,Flare,Average,free,Spring,v-neck,short,NaN,nylon,NaN,NaN,animal
12,sexy,Low,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print
13,vintage,Average,M,Summer,o-neck,short,empire,cotton,jersey,NaN,animal
14,Casual,Low,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid
15,Casual,Low,free,Winter,boat-neck,full,NaN,other,other,lace,NaN
16,cute,Average,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid
17,bohemian,Medium,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork
18,Brief,Average,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork
19,Sexy,Average,M,Automn,o-neck,sleevless,empire,milksilk,NaN,NaN,NaN
20,Sexy,Average,L,Automn,o-neck,full,NaN,cotton,NaN,beading,solid
21,Casual,Low,M,Summer,o-neck,sleevless,natural,NaN,chiffon,NaN,solid
22,Brief,Low,XL,Summer,v-neck,short,natural,cotton,NaN,pockets,solid
23,Sexy,Average,S,Summer,v-neck,sleevless,empire,cotton,NaN,sequined,solid
24,Sexy,Average,free,Automn,v-neck,sleevless,natural,polyster,NaN,lace,patchwork
25,Sexy,Average,M,Automn,o-neck,sleevless,empire,cotton,broadcloth,NaN,print
26,Sexy,Average,M,Spring,o-neck,sleevless,natural,NaN,NaN,NaN,solid
27,Casual,Low,L,Summer,o-neck,sleevless,natural,cotton,jersey,NaN,print
28,cute,Low,free,Automn,o-neck,sleevless,natural,polyster,chiffon,sashes,striped
29,cute,Low,M,Spring,ruffled,short,empire,chiffonfabric,chiffon,bow,dot
...,...,...,...,...,...,...,...,...,...,...,...
470,Sexy,Average,S,Summer,v-neck,sleevless,NaN,NaN,NaN,NaN,NaN
471,Casual,Low,free,Summer,o-neck,sleevless,NaN,NaN,NaN,NaN,animal
472,cute,high,M,Spring,boat-neck,full,natural,polyster,terry,lace,solid
473,work,Average,M,winter,turndowncollor,full,natural,NaN,NaN,NaN,solid
474,Casual,Average,M,Spring,o-neck,halfsleeve,natural,polyster,NaN,lace,solid
475,Sexy,Low,free,Summer,v-neck,sleevless,empire,cotton,NaN,NaN,solid
476,Casual,high,XL,winter,v-neck,full,empire,cotton,NaN,sequined,solid
477,Sexy,Low,free,winter,o-neck,sleevless,natural,lycra,chiffon,hollowout,solid
478,cute,Average,M,Autumn,v-neck,sleevless,natural,cotton,NaN,NaN,solid
479,cute,Low,free,Spring,v-neck,sleevless,natural,silk,worsted,lace,patchwork
480,Casual,Low,free,Summer,o-neck,full,natural,cotton,NaN,pockets,solid
481,Casual,Average,L,Spring,o-neck,sleevless,natural,chiffonfabric,chiffon,sequined,solid
482,cute,Average,M,Spring,o-neck,full,natural,rayon,chiffon,beading,solid
483,Casual,Average,M,winter,v-neck,halfsleeve,natural,silk,chiffon,sashes,solid
484,Casual,Low,free,Summer,o-neck,full,natural,cotton,NaN,NaN,solid
485,Casual,Low,M,Automn,o-neck,sleevless,empire,NaN,chiffon,NaN,print
486,Casual,Average,free,winter,o-neck,short,natural,polyster,chiffon,cascading,solid
487,Sexy,Average,free,winter,slash-neck,sleevless,natural,cotton,broadcloth,sequined,solid
488,Casual,Low,M,Summer,o-neck,halfsleeve,empire,chiffonfabric,chiffon,bow,solid
489,cute,Average,L,Summer,o-neck,sleevless,empire,cotton,NaN,lace,solid
490,Casual,Low,free,winter,bowneck,full,natural,polyster,chiffon,bow,solid
491,Casual,Average,L,Summer,o-neck,sleevless,natural,cotton,NaN,NaN,NaN
492,cute,Average,M,Spring,o-neck,halfsleeve,natural,acrylic,chiffon,NaN,NaN
493,bohemian,Low,free,Summer,o-neck,sleevless,natural,cotton,chiffon,none,solid
494,Brief,Average,M,winter,o-neck,halfsleeve,natural,acrylic,chiffon,NaN,striped
495,Casual,Low,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid
496,Sexy,Low,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN
497,Casual,Average,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid
498,Casual,Average,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print
499,Casual,Low,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid

In [39]:
df[df.dtypes[df.dtypes =='object'].index].describe()

,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type
count,500,498,500,498,497,498,413,372,234,264,391
unique,13,7,7,8,16,17,4,23,22,24,14
top,Casual,Average,M,Summer,o-neck,sleevless,natural,cotton,chiffon,lace,solid
freq,232,252,177,159,271,223,304,152,135,70,203

In [44]:
df.dtypes[df.dtypes == 'float64'].index

Index(['Rating'], dtype='object')

In [45]:
df[df.dtypes[df.dtypes == 'float64'].index]

     Rating
0       4.6
1       0.0
2       0.0
3       4.6
4       4.5
5       0.0
6       0.0
7       0.0
8       0.0
9       0.0
10      5.0
11      0.0
12      4.7
13      4.8
14      5.0
15      0.0
16      4.7
17      5.0
18      0.0
19      5.0
20      4.5
21      4.3
22      4.0
23      4.7
24      0.0
25      0.0
26      4.7
27      0.0
28      4.3
29      4.7
..      ...
470     0.0
471     4.4
472     4.3
473     4.8
474     4.6
475     0.0
476     4.9
477     0.0
478     5.0
479     0.0
480     4.4
481     0.0
482     4.7
483     4.6
484     4.4
485     5.0
486     0.0
487     0.0
488     4.4
489     0.0
490     4.8
491     5.0
492     4.6
493     4.6
494     4.7
495     4.7
496     4.3
497     4.7
498     4.6
499     4.4

[500 rows x 1 columns]

In [47]:
df['category1']= "Newdress" # creating a new column

In [50]:
df.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation', 'category1'],
      dtype='object')

In [52]:
df['Rating'].isnull() # checking if there is any null value or not

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
470    False
471    False
472    False
473    False
474    False
475    False
476    False
477    False
478    False
479    False
480    False
481    False
482    False
483    False
484    False
485    False
486    False
487    False
488    False
489    False
490    False
491    False
492    False
493    False
494    False
495    False
496    False
497    False
498    False
499    False
Name: Rating, Length: 500, dtype: bool

In [59]:
df2=pd.read_csv(r'DressSales.csv')

In [70]:
df2.head(5)

,Dress_ID,29/8/2013,31/8/2013,09/02/2013,09/04/2013,09/06/2013,09/08/2013,09/10/2013,09/12/2013,14/9/2013,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1190380701,6,7,7,7,8,8,9,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df2.columns

Index(['Dress_ID', '29/8/2013', '31/8/2013', '09/02/2013', '09/04/2013',
       '09/06/2013', '09/08/2013', '09/10/2013', '09/12/2013', '14/9/2013',
       '16/9/2013', '18/9/2013', '20/9/2013', '22/9/2013', '24/9/2013',
       '26/9/2013', '28/9/2013', '30/9/2013', '10/02/2013', '10/04/2013',
       '10/06/2013', '10/08/2010', '10/10/2013', '10/12/2013', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35'],
      dtype='object')

In [68]:
df2['Unnamed: 26'].isnull()

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
       ...
470    True
471    True
472    True
473    True
474    True
475    True
476    True
477    True
478    True
479    True
480    True
481    True
482    True
483    True
484    True
485    True
486    True
487    True
488    True
489    True
490    True
491    True
492    True
493    True
494    True
495    True
496    True
497    True
498    True
499    True
Name: Unnamed: 26, Length: 500, dtype: bool

In [4]:
df3= pd.read_csv('sales_data_final.csv')

In [5]:
df3

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.00,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.10,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.00,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.50,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.10,37.7700,4.70,Medium,2011
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",55,2,0.10,15.3420,1.80,Medium,2011
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,Technology,Machines,"Okidata Inkjet, Wireless",314,1,0.00,3.1200,24.10,Medium,2011
7,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Appliances,"Hoover Microwave, White",276,1,0.10,110.4120,125.32,Critical,2011
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Technology,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.40,-319.4640,107.10,Low,2011
9,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,Furniture,Chairs,"Novimex Swivel Stool, Set of Two",667,4,0.00,253.3200,81.26,High,2011
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Office Supplies,Storage,"Tenex Lockers, Industrial",338,3,0.45,-122.8005,33.75,High,2011
11,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Furniture,Tables,"Chromcraft Round Table, Adjustable Height",211,1,0.55,-70.3995,21.32,High,2011
12,ES-2011-4869686,1/3/2011,1/7/2011,Standard Class,Dorothy Dickinson,Consumer,England,United Kingdom,EU,North,...,Furniture,Bookcases,"Dania Corner Shelving, Traditional",854,7,0.00,290.4300,12.56,Medium,2011
13,IN-2011-33652,1/3/2011,1/9/2011,Standard Class,Dennis Pardue,Home Office,Sarawak,Malaysia,APAC,Southeast Asia,...,Technology,Copiers,"Hewlett Fax and Copier, Laser",193,1,0.00,50.1300,10.40,Medium,2011
14,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Furniture,Chairs,"Hon Rocking Chair, Set of Two",159,2,0.40,-95.6760,10.07,Low,2011
15,MX-2011-160234,1/3/2011,1/7/2011,Standard Class,Stewart Visinsky,Consumer,Guatemala,Guatemala,LATAM,Central,...,Technology,Phones,"Nokia Headset, VoIP",195,4,0.00,44.8800,8.43,Medium,2011
16,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,Office Supplies,Appliances,"Breville Coffee Grinder, Black",123,2,0.00,42.9000,8.41,Medium,2011
17,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Technology,Accessories,"Belkin Numeric Keypad, Bluetooth",69,2,0.40,3.4200,8.34,Low,2011
18,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Furniture,Chairs,"SAFCO Chairmat, Black",69,2,0.40,-26.4120,8.17,Low,2011
19,ID-2011-12596,1/3/2011,1/8/2011,Standard Class,Chris McAfee,Consumer,Nakhon Ratchasima,Thailand,APAC,Southeast Asia,...,Office Supplies,Storage,"Smead File Cart, Blue",135,2,0.47,-45.9018,7.74,Medium,2011
20,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Labels,"Avery Color Coded Labels, Laser Printer Compat...",36,3,0.10,4.7430,7.46,Critical,2011
21,IR-2011-7690,1/3/2011,1/8/2011,Second Class,Nat Gilpin,Corporate,Razavi Khorasan,Iran,EMEA,EMEA,...,Office Supplies,Art,"BIC Sketch Pad, Water Color",52,1,0.00,7.7700,5.91,High,2011
22,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,Office Supplies,Storage,"Rogers Folders, Industrial",62,2,0.00,8.7000,5.16,Medium,2011
23,TZ-2011-7370,1/3/2011,1/8/2011,Standard Class,Jack Garza,Consumer,Dar Es Salaam,Tanzania,Africa,Africa,...,Office Supplies,Supplies,"Stiletto Scissors, Serrated",81,4,0.00,26.7600,5.11,Medium,2011
24,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,Office Supplies,Envelopes,"Cameo Interoffice Envelope, Set of 50",47,1,0.00,17.0700,3.57,High,2011
25,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Office Supplies,Fasteners,"Stockwell Staples, Metal",6,1,0.45,0.5460,0.80,High,2011
26,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,Office Supplies,Fasteners,"Advantus Rubber Bands, Metal",17,1,0.00,4.1700,0.54,Medium,2011
27,MX-2011-111255,1/4/2011,1/9/2011,Second Class,Russell Applegate,Consumer,Parana,Brazil,LATAM,South,...,Furniture,Bookcases,"Dania Classic Bookcase, Pine","1,648",6,0.00,609.8400,109.13,Medium,2011
28,MX-2011-140641,1/4/2011,1/9/2011,Standard Class,Maya Herman,Corporate,YucatÂ n,Mexico,LATAM,North,...,Technology,Accessories,"Enermax Keyboard, Bluetooth",223,4,0.00,13.2800,42.28,High,2011
29,MX-2011-158771,1/4/2011,1/11/2011,Standard Class,Beth Thompson,Home Office,Granma,Cuba,LATAM,Caribbean,...,Office Supplies,Envelopes,"Jiffy Interoffice Envelope, Set of 50",186,6,0.00,3.6000,16.39,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51260,CA-2014-143259,12/31/2014,1/4/2015,Standard Class,Patrick O'Donnell,Consumer,New York,United States,US,East,...,Office Supplies,Binders,Wilson Jones Legal Size Ring Binders,53,3,0.20,19.7910,7.21,High,2014
51261,MX-2014-116267,12/31/2014,1/3/2015,Second Class,Erica Bern,Corporate,S?o Paulo,Brazil,LATAM,South,...,Office Supplies,Binders,"Avery 3-Hole Punch, Durable",59,3,0.00,16.4400,6.34,High,2014
51262,TZ-2014-8350,12/31/2014,1/3/2015,First Class,Joseph Airdo,Consumer,Dar Es Salaam,Tanzania,Africa,Africa,...,Office Supplies,Storage,"Fellowes Folders, Wire Frame",23,1,0.10,4.0530,6.11,High,2014
51263,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Technology,Phones,"Nokia Office Telephone, Cordless",136,3,0.00,10.8600,6.00,Medium,2014
51264,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Supplies,"Kleencut Ruler, High Speed",72,8,0.00,6.4000,5.64,Medium,2014
51265,ID-2014-58418,12/31/2014,1/2/2015,First Class,Joseph Airdo,Consumer,Anhui,China,APAC,North Asia,...,Office Supplies,Art,"Binney & Smith Pens, Fluorescent",40,3,0.00,6.6600,5.22,High,2014
51266,IN-2014-30390,12/31/2014,1/3/2015,First Class,Justin Deggeller,Corporate,Bangkok,Thailand,APAC,Southeast Asia,...,Office Supplies,Envelopes,"GlobeWeis Business Envelopes, Security-Tint",21,2,0.47,-14.2356,4.60,High,2014
51267,IT-2014-3715679,12/31/2014,1/5/2015,Second Class,Jim Kriz,Home Office,North Brabant,Netherlands,EU,Central,...,Office Supplies,Art,"BIC Pencil Sharpener, Fluorescent",30,2,0.50,-9.6900,4.46,High,2014
51268,MX-2014-116267,12/31/2014,1/3/2015,Second Class,Erica Bern,Corporate,S?o Paulo,Brazil,LATAM,South,...,Office Supplies,Envelopes,"Cameo Business Envelopes, Security-Tint",23,2,0.00,7.4400,4.16,High,2014
51269,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,Furniture,Bookcases,"Dania Corner Shelving, Metal",365,3,0.00,153.0900,4.12,Medium,2014
51270,IN-2014-23754,12/31/2014,1/7/2015,Standard Class,Kalyca Meade,Corporate,Guangdong,China,APAC,North Asia,...,Office Supplies,Envelopes,"Ames Business Envelopes, Recycled",67,5,0.00,24.7500,4.06,Medium,2014
51271,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,Office Supplies,Storage,"Rogers Box, Single Width",72,3,0.00,4.3200,3.88,Medium,2014
51272,IT-2014-3715679,12/31/2014,1/5/2015,Second Class,Jim Kriz,Home Office,North Brabant,Netherlands,EU,Central,...,Office Supplies,Binders,"Avery Binder Covers, Recycled",23,4,0.50,-6.4200,3.46,High,2014
51273,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Storage,"Fellowes Folders, Blue",35,2,0.00,9.1200,3.45,Medium,2014
51274,TU-2014-5170,12/31/2014,1/4/2015,Second Class,Valerie Dominguez,Consumer,Konya,Turkey,EMEA,EMEA,...,Technology,Accessories,"SanDisk Keyboard, Bluetooth",33,1,0.60,-25.2780,3.40,Medium,2014
51275,ID-2014-54442,12/31/2014,1/4/2015,Standard Class,Muhammed Yedwab,Corporate,National Capital,Philippines,APAC,Southeast Asia,...,Technology,Accessories,"Memorex Mouse, Bluetooth",62,4,0.45,-37.2660,3.18,Medium,2014
51276,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,Office Supplies,Fasteners,"Stockwell Thumb Tacks, Bulk Pack",39,3,0.00,17.2800,2.97,Medium,2014
51277,MX-2014-141712,12/31/2014,12/31/2014,Same Day,Rick Bensley,Home Office,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Storage,"Smead Box, Industrial",15,2,0.00,1.2000,2.34,Critical,2014
51278,MX-2014-168851,12/31/2014,1/2/2015,Second Class,Scott Cohen,Corporate,Durango,Mexico,LATAM,North,...,Office Supplies,Labels,"Avery Removable Labels, 5000 Label Set",22,3,0.00,3.9600,2.27,High,2014
51279,ES-2014-4785777,12/31/2014,1/4/2015,Standard Class,Dennis Pardue,Home Office,Hamburg,Germany,EU,Central,...,Office Supplies,Binders,"Wilson Jones Index Tab, Economy",32,5,0.00,8.2500,2.21,Medium,2014
51280,TZ-2014-8220,12/31/2014,1/6/2015,Standard Class,Christine Kargatis,Home Office,Dar Es Salaam,Tanzania,Africa,Africa,...,Office Supplies,Labels,"Harbour Creations Removable Labels, Adjustable",50,6,0.00,6.8400,2.15,Medium,2014
51281,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,GBC Binding covers,21,2,0.20,6.4750,2.06,Medium,2014
51282,UP-2014-4410,12/31/2014,1/4/2015,Standard Class,Guy Thornton,Consumer,Zaporizhzhya,Ukraine,EMEA,EMEA,...,Office Supplies,Labels,"Avery Round Labels, Alphabetical",28,4,0.00,6.1200,1.70,Medium,2014
51283,IN-2014-23754,12/31/2014,1/7/2015,Standard Class,Kalyca Meade,Corporate,Guangdong,China,APAC,North Asia,...,Office Supplies,Paper,"Eaton Note Cards, 8.5 x 11",79,3,0.00,25.3800,1.41,Medium,2014
51284,MX-2014-108574,12/31/2014,1/4/2015,Standard Class,Julia Barnett,Home Office,Tamaulipas,Mexico,LATAM,North,...,Office Supplies,Labels,"Novimex Legal Exhibit Labels, Adjustable",17,3,0.00,0.6600,1.32,Medium,2014
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.20,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.00,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.00,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.00,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.20,-0.6048,0.17,Medium,2014

In [8]:
df3.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [9]:
df3[df3['profit']== max(df3['profit'])]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
29530,CA-2013-118689,10/3/2013,10/10/2013,Standard Class,Tamara Chand,Corporate,Indiana,United States,US,Central,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,"17,500",5,0.0,8399.976,349.07,Medium,2013

In [10]:
df3[df3['profit']== max(df3['profit'])]['customer_name']

29530    Tamara Chand
Name: customer_name, dtype: object

In [11]:
df3['country']

0               Algeria
1             Australia
2               Hungary
3                Sweden
4             Australia
5             Australia
6                Canada
7             Australia
8           New Zealand
9                  Iraq
10          Philippines
11          Philippines
12       United Kingdom
13             Malaysia
14          New Zealand
15            Guatemala
16                 Iran
17          New Zealand
18          New Zealand
19             Thailand
20            Australia
21                 Iran
22                 Iran
23             Tanzania
24                 Iraq
25          Philippines
26                 Iran
27               Brazil
28               Mexico
29                 Cuba
              ...
51260     United States
51261            Brazil
51262          Tanzania
51263         Nicaragua
51264         Nicaragua
51265             China
51266          Thailand
51267       Netherlands
51268            Brazil
51269             India
51270             China
51271             India
51272       Netherlands
51273            Mexico
51274            Turkey
51275       Philippines
51276             India
51277         Nicaragua
51278            Mexico
51279           Germany
51280          Tanzania
51281     United States
51282           Ukraine
51283             China
51284            Mexico
51285     United States
51286           Morocco
51287         Nicaragua
51288            Mexico
51289     United States
Name: country, Length: 51290, dtype: object

In [15]:
# find out all the records where country is sweden

df3[df3['country']=='Sweden']

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
168,IT-2011-5951216,1/13/2011,1/20/2011,Standard Class,Stuart Calhoun,Consumer,VÂ„stra GÂ”taland,Sweden,EU,North,...,Office Supplies,Art,"Sanford Pens, Fluorescent",31,5,0.5,-13.650,2.16,Medium,2011
477,IT-2011-5645183,2/3/2011,2/5/2011,Second Class,Max Ludwig,Home Office,Uppsala,Sweden,EU,North,...,Office Supplies,Art,"Boston Pencil Sharpener, Easy-Erase",91,6,0.5,-61.650,6.64,Medium,2011
1342,IT-2011-5233011,3/31/2011,4/6/2011,Standard Class,Todd Sumrall,Corporate,VÂ„stra GÂ”taland,Sweden,EU,North,...,Furniture,Furnishings,"Advantus Photo Frame, Durable",40,2,0.6,-44.052,2.78,Medium,2011
1554,IT-2011-2419493,4/12/2011,4/13/2011,First Class,Alice McCarthy,Corporate,Stockholm,Sweden,EU,North,...,Technology,Phones,"Nokia Headset, VoIP",73,2,0.5,-11.760,22.18,High,2011
2080,IT-2011-2204228,5/9/2011,5/14/2011,Standard Class,Peter Fuller,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"Sanford Pencil Sharpener, Fluorescent",26,2,0.5,-7.770,2.18,Medium,2011
2085,IT-2011-2660642,5/10/2011,5/12/2011,Second Class,Michelle Lonsdale,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Storage,"Tenex Lockers, Wire Frame",610,6,0.5,-231.840,71.32,Critical,2011
2094,IT-2011-2660642,5/10/2011,5/12/2011,Second Class,Michelle Lonsdale,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"Boston Pencil Sharpener, Water Color",44,3,0.5,-32.490,13.98,Critical,2011
2096,IT-2011-2660642,5/10/2011,5/12/2011,Second Class,Michelle Lonsdale,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Parchment Paper, 8.5 x 11",39,4,0.5,-17.220,12.78,Critical,2011
2422,IT-2011-3515682,5/27/2011,5/30/2011,First Class,Matt Collister,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Envelopes,"Cameo Clasp Envelope, Recycled",46,11,0.5,-38.445,0.29,Medium,2011
2927,ES-2011-3286627,6/15/2011,6/17/2011,First Class,Natalie Fritzler,Consumer,Halland,Sweden,EU,North,...,Technology,Accessories,"Memorex Router, Bluetooth",739,6,0.5,-177.390,192.81,High,2011
2931,ES-2011-3286627,6/15/2011,6/17/2011,First Class,Natalie Fritzler,Consumer,Halland,Sweden,EU,North,...,Office Supplies,Storage,"Tenex Shelving, Blue",82,3,0.5,-73.800,18.17,High,2011
2952,ES-2011-3286627,6/15/2011,6/17/2011,First Class,Natalie Fritzler,Consumer,Halland,Sweden,EU,North,...,Office Supplies,Storage,"Rogers Folders, Wire Frame",15,1,0.5,-11.610,2.59,High,2011
2983,IT-2011-5810579,6/17/2011,6/21/2011,Standard Class,Jack Garza,Consumer,VÂ„stra GÂ”taland,Sweden,EU,North,...,Furniture,Chairs,"Harbour Creations Executive Leather Armchair, ...",714,3,0.5,-142.830,54.10,Medium,2011
3016,IT-2011-5810579,6/17/2011,6/21/2011,Standard Class,Jack Garza,Consumer,VÂ„stra GÂ”taland,Sweden,EU,North,...,Office Supplies,Storage,"Fellowes Folders, Industrial",27,2,0.5,-14.520,1.04,Medium,2011
3255,IT-2011-3462831,6/25/2011,7/1/2011,Standard Class,Sung Pak,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Fasteners,"Accos Push Pins, Assorted Sizes",18,3,0.5,-17.325,1.02,Medium,2011
4857,IT-2011-2668777,9/3/2011,9/7/2011,Standard Class,Eric Murdock,Consumer,VÂ„stra GÂ”taland,Sweden,EU,North,...,Technology,Copiers,"Brother Ink, High-Speed",146,2,0.5,-128.040,22.36,High,2011
4859,IT-2011-2668777,9/3/2011,9/7/2011,Standard Class,Eric Murdock,Consumer,VÂ„stra GÂ”taland,Sweden,EU,North,...,Office Supplies,Art,"Binney & Smith Canvas, Blue",51,2,0.5,-31.860,5.45,High,2011
5545,IT-2011-5351596,9/23/2011,9/29/2011,Standard Class,Jonathan Doherty,Corporate,VÂ„stra GÂ”taland,Sweden,EU,North,...,Office Supplies,Supplies,"Elite Box Cutter, High Speed",122,7,0.5,-24.465,9.56,Medium,2011
6028,IT-2011-5001459,10/8/2011,10/11/2011,Second Class,Michael Granlund,Home Office,Stockholm,Sweden,EU,North,...,Furniture,Bookcases,"Ikea Corner Shelving, Traditional",123,2,0.5,-29.580,9.10,Medium,2011
6038,IT-2011-5001459,10/8/2011,10/11/2011,Second Class,Michael Granlund,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Binders,"Cardinal Hole Reinforcements, Clear",5,2,0.5,-0.420,0.56,Medium,2011
7198,IT-2011-1320928,11/16/2011,11/23/2011,Standard Class,Rachel Payne,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"Boston Pencil Sharpener, Water Color",96,6,0.5,-0.090,11.38,Low,2011
7199,IT-2011-1320928,11/16/2011,11/23/2011,Standard Class,Rachel Payne,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Appliances,"Breville Coffee Grinder, Black",92,3,0.5,-27.585,8.34,Low,2011
7208,IT-2011-1320928,11/16/2011,11/23/2011,Standard Class,Rachel Payne,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Fasteners,"Advantus Thumb Tacks, Bulk Pack",20,3,0.5,-20.385,2.92,Low,2011
7210,IT-2011-1320928,11/16/2011,11/23/2011,Standard Class,Rachel Payne,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Storage,"Tenex Shelving, Wire Frame",27,1,0.5,-20.445,2.28,Low,2011
7216,IT-2011-1320928,11/16/2011,11/23/2011,Standard Class,Rachel Payne,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Binders,"Ibico Hole Reinforcements, Durable",4,1,0.5,-1.875,0.64,Low,2011
7684,IT-2011-2725191,11/29/2011,12/5/2011,Standard Class,Roy Phan,Corporate,Stockholm,Sweden,EU,North,...,Technology,Phones,"Apple Office Telephone, with Caller ID",98,3,0.5,-86.220,7.10,Medium,2011
7690,IT-2011-2725191,11/29/2011,12/5/2011,Standard Class,Roy Phan,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Labels,"Harbour Creations Shipping Labels, 5000 Label Set",53,9,0.5,-30.105,3.72,Medium,2011
7741,IT-2011-5515844,12/1/2011,12/3/2011,First Class,Lori Olson,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Binders,"Acco Binding Machine, Recycled",180,7,0.5,-90.195,69.75,Critical,2011
8190,IT-2011-5091991,12/13/2011,12/19/2011,Standard Class,John Murray,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Storage,"Rogers Shelving, Wire Frame",122,4,0.5,-46.560,7.75,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45646,IT-2014-3434385,10/6/2014,10/8/2014,Second Class,Shahid Collister,Consumer,VÂ„stra GÂ”taland,Sweden,EU,North,...,Office Supplies,Storage,"Tenex Box, Wire Frame",31,4,0.5,-2.580,3.95,High,2014
47174,IT-2014-2126630,11/4/2014,11/6/2014,First Class,Dana Kaydos,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",13,2,0.5,-13.200,1.85,High,2014
47708,IT-2014-3438902,11/12/2014,11/19/2014,Standard Class,Georgia Rosenberg,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Envelopes,"Ames Mailers, Recycled",87,5,0.5,-83.175,7.76,Medium,2014
47732,IT-2014-3438902,11/12/2014,11/19/2014,Standard Class,Georgia Rosenberg,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Appliances,"Breville Toaster, Red",115,3,0.5,-39.195,2.56,Medium,2014
48103,ES-2014-2505511,11/18/2014,11/20/2014,Second Class,Mary Zewe,Corporate,SkÂ†ne,Sweden,EU,North,...,Technology,Copiers,"Hewlett Copy Machine, Color",663,5,0.5,-212.175,134.80,High,2014
48108,ES-2014-2505511,11/18/2014,11/20/2014,Second Class,Mary Zewe,Corporate,SkÂ†ne,Sweden,EU,North,...,Technology,Machines,"Okidata Printer, Wireless",671,5,0.5,-308.850,76.89,High,2014
48126,ES-2014-2505511,11/18/2014,11/20/2014,Second Class,Mary Zewe,Corporate,SkÂ†ne,Sweden,EU,North,...,Furniture,Chairs,"Harbour Creations Bag Chairs, Red",185,6,0.5,-25.920,36.26,High,2014
49703,IT-2014-4809306,12/9/2014,12/14/2014,Standard Class,Mike Kennedy,Consumer,Stockholm,Sweden,EU,North,...,Furniture,Chairs,"Harbour Creations Rocking Chair, Adjustable",224,3,0.5,-80.820,26.03,Medium,2014
49728,IT-2014-4809306,12/9/2014,12/14/2014,Standard Class,Mike Kennedy,Consumer,Stockholm,Sweden,EU,North,...,Technology,Machines,"Panasonic Card Printer, White",86,1,0.5,-20.685,7.92,Medium,2014
49731,IT-2014-4809306,12/9/2014,12/14/2014,Standard Class,Mike Kennedy,Consumer,Stockholm,Sweden,EU,North,...,Furniture,Chairs,"Office Star Bag Chairs, Adjustable",145,5,0.5,-104.325,7.55,Medium,2014
49752,IT-2014-4809306,12/9/2014,12/14/2014,Standard Class,Mike Kennedy,Consumer,Stockholm,Sweden,EU,North,...,Furniture,Chairs,"Office Star Bag Chairs, Adjustable",58,2,0.5,-41.730,4.20,Medium,2014
49762,IT-2014-4809306,12/9/2014,12/14/2014,Standard Class,Mike Kennedy,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"SanDisk Message Books, Recycled",24,2,0.5,-2.430,2.49,Medium,2014
49778,IT-2014-4809306,12/9/2014,12/14/2014,Standard Class,Mike Kennedy,Consumer,Stockholm,Sweden,EU,North,...,Furniture,Chairs,"Office Star Bag Chairs, Red",55,2,0.5,-33.300,0.48,Medium,2014
49779,IT-2014-4809306,12/9/2014,12/14/2014,Standard Class,Mike Kennedy,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Binders,"Cardinal Index Tab, Clear",7,2,0.5,-1.080,0.38,Medium,2014
49888,IT-2014-1325278,12/10/2014,12/15/2014,Standard Class,Paul MacIntyre,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"Binney & Smith Pens, Water Color",8,1,0.5,-2.130,0.71,Medium,2014
50148,IT-2014-5410095,12/15/2014,12/21/2014,Standard Class,Scot Coram,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Binders,"Avery Binding Machine, Clear",314,13,0.5,-238.680,27.42,Low,2014
50720,IT-2014-5244847,12/24/2014,12/28/2014,Standard Class,Greg Matthias,Consumer,Stockholm,Sweden,EU,North,...,Technology,Machines,"Epson Printer, Durable",263,2,0.5,-63.060,19.56,Medium,2014
50744,IT-2014-5244847,12/24/2014,12/28/2014,Standard Class,Greg Matthias,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Binders,"Avery Binding Machine, Durable",50,2,0.5,-44.340,3.93,Medium,2014
50758,IT-2014-5244847,12/24/2014,12/28/2014,Standard Class,Greg Matthias,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Supplies,"Acme Ruler, Easy Grip",37,4,0.5,-22.740,1.82,Medium,2014
50765,IT-2014-5244847,12/24/2014,12/28/2014,Standard Class,Greg Matthias,Consumer,Stockholm,Sweden,EU,North,...,Technology,Machines,"StarTech Phone, White",36,1,0.5,-6.585,1.44,Medium,2014
50780,IT-2014-1420868,12/25/2014,12/25/2014,Same Day,Bart Pistole,Corporate,VÂ„rmland,Sweden,EU,North,...,Furniture,Bookcases,"Bush Corner Shelving, Pine",313,5,0.5,-12.600,127.82,Critical,2014
50807,IT-2014-1420868,12/25/2014,12/25/2014,Same Day,Bart Pistole,Corporate,VÂ„rmland,Sweden,EU,North,...,Furniture,Furnishings,"Advantus Light Bulb, Erganomic",67,9,0.6,-85.806,15.24,Critical,2014
50809,IT-2014-1420868,12/25/2014,12/25/2014,Same Day,Bart Pistole,Corporate,VÂ„rmland,Sweden,EU,North,...,Technology,Machines,"Panasonic Phone, Durable",42,1,0.5,-3.420,13.86,Critical,2014
50927,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"BIC Sketch Pad, Blue",49,2,0.5,-31.200,4.39,Medium,2014
50937,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Fasteners,"Stockwell Thumb Tacks, Bulk Pack",34,5,0.5,-12.975,2.84,Medium,2014
50948,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Technology,Accessories,"Belkin Flash Drive, Bluetooth",21,1,0.5,-5.460,0.98,Medium,2014
50949,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Furniture,Furnishings,"Advantus Photo Frame, Durable",20,1,0.6,-22.026,0.98,Medium,2014
50972,IT-2014-4046179,12/27/2014,12/30/2014,Second Class,Jeremy Farry,Consumer,Stockholm,Sweden,EU,North,...,Office Supplies,Appliances,"KitchenAid Refrigerator, Black","1,582",6,0.5,-443.070,55.39,Medium,2014
51086,IT-2014-2362249,12/29/2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"BIC Pens, Fluorescent",31,4,0.5,-10.680,8.44,High,2014
51121,IT-2014-2362249,12/29/2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Office Supplies,Art,"Sanford Highlighters, Blue",8,1,0.5,-6.165,2.00,High,2014

In [20]:
# how many orders are from sweden
len(df3[df3['country']=='Sweden'])

203

In [24]:
# shipping cost is less than 80
df3[df3['shipping_cost']>80]['country']

7             Australia
8           New Zealand
9                  Iraq
27               Brazil
43               Mexico
58        United States
59        United States
83               Angola
84                China
100           Australia
101             Hungary
102             Hungary
103               Egypt
125      United Kingdom
126              Mexico
173       United States
174       United States
175       United States
199             Germany
200              France
213         El Salvador
225            Tanzania
230              Zambia
241              Angola
242              Mexico
257           Nicaragua
258            Mongolia
259       United States
287               Italy
302           Nicaragua
              ...
50784         Nicaragua
50785         Guatemala
50856           Germany
50857             China
50858     United States
50859           Germany
50860             Japan
50861       El Salvador
50862             China
50966         Guatemala
50967     United States
50968             Kenya
50969          Colombia
50970            France
51033            France
51034         Australia
51035            France
51036     United States
51037       Netherlands
51038            France
51149       Switzerland
51150              Mali
51151            Brazil
51152     United States
51153         Australia
51154         Indonesia
51228            Brazil
51229         Indonesia
51230            Russia
51231          Thailand
Name: country, Length: 3984, dtype: object

In [28]:
# find the info where shipping cost is more than 100 dollars and profit is less than 10 dollars

df3[(df3['shipping_cost'] > 100) & (df3['profit']<10)]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Technology,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.400,-319.4640,107.10,Low,2011
257,MX-2011-146584,1/21/2011,1/27/2011,Standard Class,Hunter Lopez,Consumer,Managua,Nicaragua,LATAM,Central,...,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled","2,797",6,0.200,-0.0720,320.38,Low,2011
451,ES-2011-1640672,2/2/2011,2/5/2011,First Class,Ken Heidel,Corporate,Saxony,Germany,EU,Central,...,Technology,Phones,"Motorola Signal Booster, Cordless",584,8,0.500,-58.5600,109.14,High,2011
625,ID-2011-47575,2/15/2011,2/21/2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Technology,Phones,"Nokia Signal Booster, with Caller ID",921,9,0.250,-172.1250,128.01,Low,2011
626,ID-2011-47575,2/15/2011,2/21/2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Technology,Copiers,"Brother Fax Machine, High-Speed","1,235",6,0.350,-456.1740,118.63,Low,2011
801,ID-2011-72894,2/28/2011,3/3/2011,First Class,Paul Stevenson,Home Office,Seoul,South Korea,APAC,North Asia,...,Office Supplies,Appliances,"Hamilton Beach Stove, White",811,3,0.500,-599.9400,236.16,Critical,2011
802,ID-2011-72894,2/28/2011,3/3/2011,First Class,Paul Stevenson,Home Office,Seoul,South Korea,APAC,North Asia,...,Furniture,Furnishings,"Eldon Door Stop, Black",401,10,0.200,-5.2200,108.34,Critical,2011
1072,US-2011-148838,3/17/2011,3/21/2011,Standard Class,Christine Phan,Corporate,New York,United States,US,East,...,Furniture,Tables,Bretford Rectangular Conference Table Tops,"1,580",7,0.400,-447.5947,101.14,Medium,2011
1350,IT-2011-3468929,4/1/2011,4/4/2011,First Class,Aaron Smayling,Corporate,Lazio,Italy,EU,South,...,Technology,Phones,"Apple Signal Booster, Full Size",497,6,0.400,-289.8360,122.65,High,2011
1410,MX-2011-104794,4/4/2011,4/8/2011,Standard Class,Barry Weirich,Consumer,S?o Paulo,Brazil,LATAM,South,...,Technology,Copiers,"Canon Fax Machine, Color","1,064",5,0.002,-2.1322,107.66,High,2011
1468,IT-2011-3316894,4/6/2011,4/8/2011,First Class,Pauline Chand,Home Office,Catalonia,Spain,EU,South,...,Office Supplies,Storage,"Rogers Lockers, Blue","1,524",8,0.100,-50.9760,345.81,High,2011
1652,ES-2011-2835499,4/18/2011,4/20/2011,Second Class,Tom Stivers,Corporate,Apulia,Italy,EU,South,...,Office Supplies,Storage,"Eldon Lockers, Blue",475,4,0.400,-237.5760,163.42,Critical,2011
1653,IT-2011-5063480,4/18/2011,4/25/2011,Standard Class,Candace McMahon,Corporate,Ile-de-France,France,EU,Central,...,Technology,Machines,"Panasonic Printer, Red","2,017",9,0.150,-0.0540,160.41,Medium,2011
1698,CA-2011-134572,4/20/2011,4/22/2011,Second Class,Seth Vernon,Consumer,Texas,United States,US,Central,...,Furniture,Tables,Bush Advantage Collection Round Conference Table,744,5,0.300,-95.6700,128.29,High,2011
1723,US-2011-133130,4/21/2011,4/24/2011,First Class,Anemone Ratner,Consumer,Francisco MorazÂ n,Honduras,LATAM,Central,...,Technology,Phones,"Cisco Signal Booster, with Caller ID",486,8,0.400,-81.0240,110.51,High,2011
1824,IT-2011-2185983,4/26/2011,4/27/2011,Same Day,Roy Collins,Consumer,Ile-de-France,France,EU,Central,...,Technology,Phones,"Nokia Headset, with Caller ID",684,11,0.150,-24.2715,100.32,Critical,2011
2138,IT-2011-1939979,5/12/2011,5/14/2011,First Class,Mike Pelletier,Home Office,Aquitaine,France,EU,Central,...,Furniture,Tables,"Chromcraft Wood Table, with Bottom Storage",627,2,0.350,-135.1440,206.61,Critical,2011
2164,CA-2011-140165,5/13/2011,5/15/2011,First Class,Erica Hernandez,Home Office,Florida,United States,US,South,...,Office Supplies,Binders,GBC DocuBind P100 Manual Binding Machine,398,8,0.700,-331.9600,146.04,Critical,2011
2207,US-2011-132591,5/17/2011,5/20/2011,Second Class,Jill Matthias,Consumer,Minas Gerais,Brazil,LATAM,South,...,Technology,Phones,"Nokia Smart Phone, Full Size",850,5,0.600,-786.1000,123.00,High,2011
2321,ID-2011-83982,5/23/2011,5/26/2011,Second Class,Shaun Weien,Consumer,Auckland,New Zealand,APAC,Oceania,...,Technology,Copiers,"Brother Fax Machine, Color",768,4,0.400,-358.4880,111.94,Medium,2011
2430,IT-2011-5629016,5/30/2011,6/2/2011,First Class,Toby Carlisle,Consumer,Aquitaine,France,EU,Central,...,Furniture,Tables,"Hon Computer Table, Adjustable Height","2,229",7,0.350,-754.4145,440.25,Critical,2011
2481,ES-2011-3108517,6/1/2011,6/6/2011,Standard Class,Matt Hagelstein,Corporate,Cork,Ireland,EU,North,...,Furniture,Bookcases,"Ikea Classic Bookcase, Traditional","1,029",5,0.500,-247.1250,141.50,High,2011
2520,IT-2011-4812190,6/2/2011,6/4/2011,Second Class,Todd Sumrall,Corporate,Bavaria,Germany,EU,Central,...,Furniture,Chairs,"SAFCO Executive Leather Armchair, Adjustable","1,253",3,0.100,-41.7960,176.06,High,2011
2609,MX-2011-115609,6/4/2011,6/4/2011,Same Day,Laura Armstrong,Corporate,Rio de Janeiro,Brazil,LATAM,South,...,Technology,Accessories,"Memorex Memory Card, Erganomic",467,7,0.000,0.0000,176.88,Critical,2011
2631,ID-2011-73202,6/6/2011,6/10/2011,Standard Class,Charlotte Melton,Consumer,Punjab,Pakistan,APAC,Central Asia,...,Technology,Copiers,"Brother Personal Copier, Color",938,13,0.500,-0.1950,136.38,High,2011
2771,ID-2011-36060,6/9/2011,6/13/2011,Standard Class,Odella Nelson,Corporate,Queensland,Australia,APAC,Oceania,...,Furniture,Chairs,"SAFCO Rocking Chair, Black",596,5,0.100,-39.8400,131.23,High,2011
2772,IT-2011-5721470,6/9/2011,6/10/2011,First Class,Russell Applegate,Consumer,Nord-Pas-de-Calais,France,EU,Central,...,Technology,Copiers,"Canon Copy Machine, Digital",668,3,0.150,-31.4910,116.53,High,2011
2813,IT-2011-2975588,6/10/2011,6/13/2011,First Class,Marc Crier,Consumer,Nord-Pas-de-Calais,France,EU,Central,...,Office Supplies,Appliances,"KitchenAid Microwave, Red",838,3,0.100,-27.9360,200.35,High,2011
2927,ES-2011-3286627,6/15/2011,6/17/2011,First Class,Natalie Fritzler,Consumer,Halland,Sweden,EU,North,...,Technology,Accessories,"Memorex Router, Bluetooth",739,6,0.500,-177.3900,192.81,High,2011
2976,IN-2011-19351,6/17/2011,6/19/2011,First Class,Bart Watters,Corporate,Beijing,China,APAC,North Asia,...,Furniture,Tables,"Bevis Conference Table, Fully Assembled","3,238",5,0.300,-740.2950,449.18,High,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49137,US-2014-165456,12/1/2014,12/4/2014,First Class,Trudy Brown,Consumer,Pennsylvania,United States,US,East,...,Furniture,Chairs,Global Commerce Series Low-Back Swivel/Tilt Ch...,"1,079",6,0.300,-15.4188,258.42,Critical,2014
49138,US-2014-143014,12/1/2014,12/4/2014,First Class,Tracy Blumstein,Consumer,San Luis,Argentina,LATAM,South,...,Furniture,Chairs,"Harbour Creations Executive Leather Armchair, ...",947,5,0.400,-236.8800,197.18,Medium,2014
49141,CA-2014-142090,12/1/2014,12/8/2014,Standard Class,Shahid Collister,Consumer,North Carolina,United States,US,South,...,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,"1,782",7,0.400,-653.2834,113.45,Medium,2014
49142,ID-2014-19225,12/1/2014,12/5/2014,Standard Class,Hunter Lopez,Consumer,Jawa Barat,Indonesia,APAC,Southeast Asia,...,Technology,Copiers,"Brother Wireless Fax, Color","1,415",4,0.070,-106.4700,106.99,Medium,2014
49213,MX-2014-107181,12/2/2014,12/6/2014,Second Class,Matthew Clasen,Corporate,Barahona,Dominican Republic,LATAM,Caribbean,...,Furniture,Chairs,"Office Star Executive Leather Armchair, Red","1,503",6,0.200,-225.5040,103.39,Medium,2014
49312,CA-2014-155075,12/3/2014,12/10/2014,Standard Class,Giulietta Weimer,Consumer,Pennsylvania,United States,US,East,...,Office Supplies,Binders,GBC DocuBind 300 Electric Binding Machine,631,4,0.700,-462.8624,130.32,Low,2014
49407,US-2014-122420,12/4/2014,12/7/2014,Second Class,Sonia Cooley,Consumer,Coahuila,Mexico,LATAM,North,...,Furniture,Tables,"Hon Wood Table, Rectangular","1,410",5,0.200,-88.2000,215.13,Critical,2014
49410,ES-2014-5467236,12/4/2014,12/5/2014,First Class,Sibella Parks,Corporate,Picardy,France,EU,Central,...,Technology,Phones,"Cisco Audio Dock, Cordless",786,5,0.150,-18.5400,111.08,High,2014
49503,ID-2014-68085,12/5/2014,12/8/2014,First Class,Theresa Coyne,Corporate,Queensland,Australia,APAC,Oceania,...,Furniture,Chairs,"Hon Swivel Stool, Adjustable",897,6,0.100,-10.0440,150.43,High,2014
49628,US-2014-122714,12/8/2014,12/14/2014,Standard Class,Henry Goldwyn,Corporate,Illinois,United States,US,Central,...,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,"1,890",5,0.800,-2929.4845,129.51,Medium,2014
49630,US-2014-160591,12/8/2014,12/14/2014,Standard Class,Carol Adams,Corporate,Minas Gerais,Brazil,LATAM,South,...,Technology,Phones,"Samsung Smart Phone, Cordless","1,193",7,0.600,-1580.4600,121.24,Medium,2014
49687,IT-2014-4213586,12/9/2014,12/13/2014,Standard Class,Craig Reiter,Consumer,Ile-de-France,France,EU,Central,...,Furniture,Bookcases,"Safco Library with Doors, Traditional","1,052",3,0.100,-81.9270,112.98,High,2014
49781,IV-2014-5230,12/10/2014,12/13/2014,Second Class,Stewart Visinsky,Consumer,Haut-Sassandra,Cote d'Ivoire,Africa,Africa,...,Technology,Copiers,"Brother Ink, Laser","1,768",12,0.000,0.0000,226.68,Critical,2014
49782,ID-2014-41303,12/10/2014,12/14/2014,Standard Class,Roy Phan,Corporate,Bangkok,Thailand,APAC,Southeast Asia,...,Technology,Phones,"Nokia Smart Phone, Full Size","1,587",3,0.170,-76.5585,203.08,Medium,2014
49785,MX-2014-124016,12/10/2014,12/15/2014,Standard Class,Alyssa Crouse,Corporate,Nuevo LeÂ¢n,Mexico,LATAM,North,...,Furniture,Chairs,"SAFCO Executive Leather Armchair, Red","3,445",14,0.200,-775.3760,118.72,Medium,2014
49786,US-2014-146367,12/10/2014,12/12/2014,First Class,Gary Zandusky,Consumer,Distrito Federal,Mexico,LATAM,North,...,Furniture,Tables,"Barricks Wood Table, Fully Assembled","1,106",4,0.200,-41.5200,100.66,Medium,2014
49896,ES-2014-5275437,12/11/2014,12/11/2014,Same Day,Natalie Fritzler,Consumer,England,United Kingdom,EU,North,...,Technology,Copiers,"Hewlett Wireless Fax, Color","1,145",6,0.500,-686.9700,170.11,High,2014
49897,CG-2014-9530,12/11/2014,12/11/2014,Same Day,Guy Thornton,Consumer,Kinshasa,Democratic Republic of the Congo,Africa,Africa,...,Office Supplies,Appliances,"Cuisinart Microwave, Silver","1,117",4,0.000,0.0000,137.65,High,2014
50068,US-2014-119480,12/13/2014,12/15/2014,Second Class,Gary Hwang,Consumer,Panama,Panama,LATAM,Central,...,Office Supplies,Storage,"Smead File Cart, Industrial",411,8,0.400,-191.8400,122.04,Critical,2014
50126,MX-2014-127061,12/15/2014,12/17/2014,Second Class,Cindy Chapman,Consumer,Maranh?o,Brazil,LATAM,South,...,Technology,Phones,"Apple Speaker Phone, Full Size",498,6,0.000,9.9600,195.37,Critical,2014
50277,US-2014-116862,12/17/2014,12/21/2014,Standard Class,Andy Gerbode,Corporate,Guanajuato,Mexico,LATAM,North,...,Furniture,Chairs,"Hon Executive Leather Armchair, Adjustable","1,698",7,0.200,-63.7560,217.03,High,2014
50281,ES-2014-5093967,12/17/2014,12/23/2014,Standard Class,Beth Fritzler,Corporate,RhÂ“ne-Alpes,France,EU,Central,...,Technology,Machines,"Okidata Inkjet, White","1,058",4,0.150,-24.9900,105.70,Low,2014
50424,ES-2014-2271414,12/19/2014,12/23/2014,Standard Class,Alan Schoenberger,Corporate,RhÂ“ne-Alpes,France,EU,Central,...,Technology,Copiers,"Brother Wireless Fax, Digital",965,3,0.150,-68.1525,101.77,Medium,2014
50523,ID-2014-61526,12/20/2014,12/24/2014,Standard Class,Theresa Coyne,Corporate,Cordillera,Philippines,APAC,Southeast Asia,...,Furniture,Chairs,"Office Star Swivel Stool, Set of Two","1,189",9,0.250,-396.4275,225.78,High,2014
50780,IT-2014-1420868,12/25/2014,12/25/2014,Same Day,Bart Pistole,Corporate,VÂ„rmland,Sweden,EU,North,...,Furniture,Bookcases,"Bush Corner Shelving, Pine",313,5,0.500,-12.6000,127.82,Critical,2014
50781,CA-2014-147956,12/25/2014,1/1/2015,Standard Class,Alan Hwang,Consumer,Washington,United States,US,West,...,Office Supplies,Storage,Office Impressions Heavy Duty Welded Shelving ...,"1,004",6,0.000,0.0000,121.83,Low,2014
50969,US-2014-120166,12/27/2014,12/31/2014,Standard Class,Frank Hawley,Corporate,Valle del Cauca,Colombia,LATAM,South,...,Furniture,Tables,"Barricks Training Table, Rectangular",842,5,0.200,-200.0800,120.11,High,2014
50970,ES-2014-4296634,12/27/2014,1/2/2015,Standard Class,Harry Marie,Corporate,Brittany,France,EU,Central,...,Office Supplies,Appliances,"Hamilton Beach Microwave, White","1,010",4,0.100,-44.9400,108.27,Low,2014
51034,ID-2014-68183,12/29/2014,12/31/2014,First Class,Adam Hart,Corporate,Victoria,Australia,APAC,Oceania,...,Office Supplies,Appliances,"Hoover Stove, Red","1,535",3,0.100,-102.4110,255.42,Medium,2014
51153,ID-2014-51509,12/30/2014,1/1/2015,Second Class,Naresj Patel,Consumer,Australian Capital Territory,Australia,APAC,Oceania,...,Furniture,Chairs,"Harbour Creations Rocking Chair, Black",434,5,0.400,-166.4700,124.63,Critical,2014

In [29]:
len(df3[(df3['shipping_cost'] > 100) & (df3['profit']<10)])

604

In [31]:
df3.dtypes # check data types

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [34]:
date = pd.to_datetime(df3['order_date'])

In [35]:
date

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
5       2011-01-01
6       2011-01-02
7       2011-01-03
8       2011-01-03
9       2011-01-03
10      2011-01-03
11      2011-01-03
12      2011-01-03
13      2011-01-03
14      2011-01-03
15      2011-01-03
16      2011-01-03
17      2011-01-03
18      2011-01-03
19      2011-01-03
20      2011-01-03
21      2011-01-03
22      2011-01-03
23      2011-01-03
24      2011-01-03
25      2011-01-03
26      2011-01-03
27      2011-01-04
28      2011-01-04
29      2011-01-04
           ...
51260   2014-12-31
51261   2014-12-31
51262   2014-12-31
51263   2014-12-31
51264   2014-12-31
51265   2014-12-31
51266   2014-12-31
51267   2014-12-31
51268   2014-12-31
51269   2014-12-31
51270   2014-12-31
51271   2014-12-31
51272   2014-12-31
51273   2014-12-31
51274   2014-12-31
51275   2014-12-31
51276   2014-12-31
51277   2014-12-31
51278   2014-12-31
51279   2014-12-31
51280   2014-12-31
51281   2014-12-31
51282   2014-12-31
51283   2014-12-31
51284   2014-12-31
51285   2014-12-31
51286   2014-12-31
51287   2014-12-31
51288   2014-12-31
51289   2014-12-31
Name: order_date, Length: 51290, dtype: datetime64[ns]

In [36]:
type(date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
#create a new column column and store the data

df3['converted_order_date'] = pd.to_datetime(df3['order_date'])

In [10]:
df3.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'converted_order_date'],
      dtype='object')

In [11]:
# extract just the year from this particular date in converted_order_date and create a new columns

df3['order_date_year'] = df3['converted_order_date'].dt.year

In [45]:
df3.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sales,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,408,2,0.0,106.140,35.46,Medium,2011,2011-01-01,2011,1
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,120,3,0.1,36.036,9.72,Medium,2011,2011-01-01,2011,1
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,66,4,0.0,29.640,8.17,High,2011,2011-01-01,2011,1
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,45,3,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,114,5,0.1,37.770,4.70,Medium,2011,2011-01-01,2011,1

In [12]:
# extract just the month from this particular date in converted_order_date and create a new columns

df3['order_date_month'] = df3['converted_order_date'].dt.month

In [47]:
df3.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sales,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,408,2,0.0,106.140,35.46,Medium,2011,2011-01-01,2011,1
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,120,3,0.1,36.036,9.72,Medium,2011,2011-01-01,2011,1
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,66,4,0.0,29.640,8.17,High,2011,2011-01-01,2011,1
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,45,3,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,114,5,0.1,37.770,4.70,Medium,2011,2011-01-01,2011,1

In [13]:
df3['order_date_week'] = df3['converted_order_date'].dt.week

In [14]:
df3.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2,0.0,106.140,35.46,Medium,2011,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,3,0.1,36.036,9.72,Medium,2011,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.0,29.640,8.17,High,2011,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.1,37.770,4.70,Medium,2011,2011-01-01,2011,1,52

In [50]:
df3[['converted_order_date','order_date_week']]

      converted_order_date  order_date_week
0               2011-01-01               52
1               2011-01-01               52
2               2011-01-01               52
3               2011-01-01               52
4               2011-01-01               52
5               2011-01-01               52
6               2011-01-02               52
7               2011-01-03                1
8               2011-01-03                1
9               2011-01-03                1
10              2011-01-03                1
11              2011-01-03                1
12              2011-01-03                1
13              2011-01-03                1
14              2011-01-03                1
15              2011-01-03                1
16              2011-01-03                1
17              2011-01-03                1
18              2011-01-03                1
19              2011-01-03                1
20              2011-01-03                1
21              2011-01-03                1
22              2011-01-03                1
23              2011-01-03                1
24              2011-01-03                1
25              2011-01-03                1
26              2011-01-03                1
27              2011-01-04                1
28              2011-01-04                1
29              2011-01-04                1
...                    ...              ...
51260           2014-12-31                1
51261           2014-12-31                1
51262           2014-12-31                1
51263           2014-12-31                1
51264           2014-12-31                1
51265           2014-12-31                1
51266           2014-12-31                1
51267           2014-12-31                1
51268           2014-12-31                1
51269           2014-12-31                1
51270           2014-12-31                1
51271           2014-12-31                1
51272           2014-12-31                1
51273           2014-12-31                1
51274           2014-12-31                1
51275           2014-12-31                1
51276           2014-12-31                1
51277           2014-12-31                1
51278           2014-12-31                1
51279           2014-12-31                1
51280           2014-12-31                1
51281           2014-12-31                1
51282           2014-12-31                1
51283           2014-12-31                1
51284           2014-12-31                1
51285           2014-12-31                1
51286           2014-12-31                1
51287           2014-12-31                1
51288           2014-12-31                1
51289           2014-12-31                1

[51290 rows x 2 columns]

In [15]:
df3['order_date_month'].value_counts() # which month there is a more number of sales

11    6342
12    6302
9     5975
6     5331
8     5078
10    4490
5     3747
7     3166
4     3057
3     3035
1     2599
2     2168
Name: order_date_month, dtype: int64

In [17]:
df3.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2,0.0,106.140,35.46,Medium,2011,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,3,0.1,36.036,9.72,Medium,2011,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.0,29.640,8.17,High,2011,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.1,37.770,4.70,Medium,2011,2011-01-01,2011,1,52

In [18]:
df3['company_cost'] = df3['shipping_cost']+df3['discount']

In [19]:
df3.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week,company_cost
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.140,35.46,Medium,2011,2011-01-01,2011,1,52,35.46
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.036,9.72,Medium,2011,2011-01-01,2011,1,52,9.82
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.640,8.17,High,2011,2011-01-01,2011,1,52,8.17
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1,52,5.32
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.770,4.70,Medium,2011,2011-01-01,2011,1,52,4.80

In [20]:
# for which order company_cost is max

df3['company_cost'].max()

933.57

In [22]:
df3[df3['company_cost'] == max(df3['company_cost'])]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week,company_cost
13891,CA-2012-124891,7/31/2012,7/31/2012,Same Day,Rick Hansen,Consumer,New York,United States,US,East,...,0.0,762.1845,933.57,Critical,2012,2012-07-31,2012,7,31,933.57

In [23]:
df3[df3['company_cost'] == max(df3['company_cost'])]['product_name']

13891    Plantronics CS510 - Over-the-Head monaural Wir...
Name: product_name, dtype: object

In [25]:
# delete columns

df3.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'converted_order_date', 'order_date_year', 'order_date_month',
       'order_date_week', 'company_cost'],
      dtype='object')

In [27]:
df3.drop('company_cost',axis=1)

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2,0.00,106.1400,35.46,Medium,2011,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,3,0.10,36.0360,9.72,Medium,2011,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.00,29.6400,8.17,High,2011,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.50,-26.0550,4.82,High,2011,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.10,37.7700,4.70,Medium,2011,2011-01-01,2011,1,52
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,2,0.10,15.3420,1.80,Medium,2011,2011-01-01,2011,1,52
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,1,0.00,3.1200,24.10,Medium,2011,2011-01-02,2011,1,52
7,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,1,0.10,110.4120,125.32,Critical,2011,2011-01-03,2011,1,1
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,4,0.40,-319.4640,107.10,Low,2011,2011-01-03,2011,1,1
9,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,4,0.00,253.3200,81.26,High,2011,2011-01-03,2011,1,1
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,3,0.45,-122.8005,33.75,High,2011,2011-01-03,2011,1,1
11,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,1,0.55,-70.3995,21.32,High,2011,2011-01-03,2011,1,1
12,ES-2011-4869686,1/3/2011,1/7/2011,Standard Class,Dorothy Dickinson,Consumer,England,United Kingdom,EU,North,...,7,0.00,290.4300,12.56,Medium,2011,2011-01-03,2011,1,1
13,IN-2011-33652,1/3/2011,1/9/2011,Standard Class,Dennis Pardue,Home Office,Sarawak,Malaysia,APAC,Southeast Asia,...,1,0.00,50.1300,10.40,Medium,2011,2011-01-03,2011,1,1
14,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,2,0.40,-95.6760,10.07,Low,2011,2011-01-03,2011,1,1
15,MX-2011-160234,1/3/2011,1/7/2011,Standard Class,Stewart Visinsky,Consumer,Guatemala,Guatemala,LATAM,Central,...,4,0.00,44.8800,8.43,Medium,2011,2011-01-03,2011,1,1
16,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,2,0.00,42.9000,8.41,Medium,2011,2011-01-03,2011,1,1
17,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,2,0.40,3.4200,8.34,Low,2011,2011-01-03,2011,1,1
18,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,2,0.40,-26.4120,8.17,Low,2011,2011-01-03,2011,1,1
19,ID-2011-12596,1/3/2011,1/8/2011,Standard Class,Chris McAfee,Consumer,Nakhon Ratchasima,Thailand,APAC,Southeast Asia,...,2,0.47,-45.9018,7.74,Medium,2011,2011-01-03,2011,1,1
20,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,3,0.10,4.7430,7.46,Critical,2011,2011-01-03,2011,1,1
21,IR-2011-7690,1/3/2011,1/8/2011,Second Class,Nat Gilpin,Corporate,Razavi Khorasan,Iran,EMEA,EMEA,...,1,0.00,7.7700,5.91,High,2011,2011-01-03,2011,1,1
22,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,2,0.00,8.7000,5.16,Medium,2011,2011-01-03,2011,1,1
23,TZ-2011-7370,1/3/2011,1/8/2011,Standard Class,Jack Garza,Consumer,Dar Es Salaam,Tanzania,Africa,Africa,...,4,0.00,26.7600,5.11,Medium,2011,2011-01-03,2011,1,1
24,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,1,0.00,17.0700,3.57,High,2011,2011-01-03,2011,1,1
25,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,1,0.45,0.5460,0.80,High,2011,2011-01-03,2011,1,1
26,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,1,0.00,4.1700,0.54,Medium,2011,2011-01-03,2011,1,1
27,MX-2011-111255,1/4/2011,1/9/2011,Second Class,Russell Applegate,Consumer,Parana,Brazil,LATAM,South,...,6,0.00,609.8400,109.13,Medium,2011,2011-01-04,2011,1,1
28,MX-2011-140641,1/4/2011,1/9/2011,Standard Class,Maya Herman,Corporate,YucatÂ n,Mexico,LATAM,North,...,4,0.00,13.2800,42.28,High,2011,2011-01-04,2011,1,1
29,MX-2011-158771,1/4/2011,1/11/2011,Standard Class,Beth Thompson,Home Office,Granma,Cuba,LATAM,Caribbean,...,6,0.00,3.6000,16.39,Medium,2011,2011-01-04,2011,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51260,CA-2014-143259,12/31/2014,1/4/2015,Standard Class,Patrick O'Donnell,Consumer,New York,United States,US,East,...,3,0.20,19.7910,7.21,High,2014,2014-12-31,2014,12,1
51261,MX-2014-116267,12/31/2014,1/3/2015,Second Class,Erica Bern,Corporate,S?o Paulo,Brazil,LATAM,South,...,3,0.00,16.4400,6.34,High,2014,2014-12-31,2014,12,1
51262,TZ-2014-8350,12/31/2014,1/3/2015,First Class,Joseph Airdo,Consumer,Dar Es Salaam,Tanzania,Africa,Africa,...,1,0.10,4.0530,6.11,High,2014,2014-12-31,2014,12,1
51263,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,3,0.00,10.8600,6.00,Medium,2014,2014-12-31,2014,12,1
51264,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,8,0.00,6.4000,5.64,Medium,2014,2014-12-31,2014,12,1
51265,ID-2014-58418,12/31/2014,1/2/2015,First Class,Joseph Airdo,Consumer,Anhui,China,APAC,North Asia,...,3,0.00,6.6600,5.22,High,2014,2014-12-31,2014,12,1
51266,IN-2014-30390,12/31/2014,1/3/2015,First Class,Justin Deggeller,Corporate,Bangkok,Thailand,APAC,Southeast Asia,...,2,0.47,-14.2356,4.60,High,2014,2014-12-31,2014,12,1
51267,IT-2014-3715679,12/31/2014,1/5/2015,Second Class,Jim Kriz,Home Office,North Brabant,Netherlands,EU,Central,...,2,0.50,-9.6900,4.46,High,2014,2014-12-31,2014,12,1
51268,MX-2014-116267,12/31/2014,1/3/2015,Second Class,Erica Bern,Corporate,S?o Paulo,Brazil,LATAM,South,...,2,0.00,7.4400,4.16,High,2014,2014-12-31,2014,12,1
51269,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,3,0.00,153.0900,4.12,Medium,2014,2014-12-31,2014,12,1
51270,IN-2014-23754,12/31/2014,1/7/2015,Standard Class,Kalyca Meade,Corporate,Guangdong,China,APAC,North Asia,...,5,0.00,24.7500,4.06,Medium,2014,2014-12-31,2014,12,1
51271,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,3,0.00,4.3200,3.88,Medium,2014,2014-12-31,2014,12,1
51272,IT-2014-3715679,12/31/2014,1/5/2015,Second Class,Jim Kriz,Home Office,North Brabant,Netherlands,EU,Central,...,4,0.50,-6.4200,3.46,High,2014,2014-12-31,2014,12,1
51273,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,2,0.00,9.1200,3.45,Medium,2014,2014-12-31,2014,12,1
51274,TU-2014-5170,12/31/2014,1/4/2015,Second Class,Valerie Dominguez,Consumer,Konya,Turkey,EMEA,EMEA,...,1,0.60,-25.2780,3.40,Medium,2014,2014-12-31,2014,12,1
51275,ID-2014-54442,12/31/2014,1/4/2015,Standard Class,Muhammed Yedwab,Corporate,National Capital,Philippines,APAC,Southeast Asia,...,4,0.45,-37.2660,3.18,Medium,2014,2014-12-31,2014,12,1
51276,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,3,0.00,17.2800,2.97,Medium,2014,2014-12-31,2014,12,1
51277,MX-2014-141712,12/31/2014,12/31/2014,Same Day,Rick Bensley,Home Office,Managua,Nicaragua,LATAM,Central,...,2,0.00,1.2000,2.34,Critical,2014,2014-12-31,2014,12,1
51278,MX-2014-168851,12/31/2014,1/2/2015,Second Class,Scott Cohen,Corporate,Durango,Mexico,LATAM,North,...,3,0.00,3.9600,2.27,High,2014,2014-12-31,2014,12,1
51279,ES-2014-4785777,12/31/2014,1/4/2015,Standard Class,Dennis Pardue,Home Office,Hamburg,Germany,EU,Central,...,5,0.00,8.2500,2.21,Medium,2014,2014-12-31,2014,12,1
51280,TZ-2014-8220,12/31/2014,1/6/2015,Standard Class,Christine Kargatis,Home Office,Dar Es Salaam,Tanzania,Africa,Africa,...,6,0.00,6.8400,2.15,Medium,2014,2014-12-31,2014,12,1
51281,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,2,0.20,6.4750,2.06,Medium,2014,2014-12-31,2014,12,1
51282,UP-2014-4410,12/31/2014,1/4/2015,Standard Class,Guy Thornton,Consumer,Zaporizhzhya,Ukraine,EMEA,EMEA,...,4,0.00,6.1200,1.70,Medium,2014,2014-12-31,2014,12,1
51283,IN-2014-23754,12/31/2014,1/7/2015,Standard Class,Kalyca Meade,Corporate,Guangdong,China,APAC,North Asia,...,3,0.00,25.3800,1.41,Medium,2014,2014-12-31,2014,12,1
51284,MX-2014-108574,12/31/2014,1/4/2015,Standard Class,Julia Barnett,Home Office,Tamaulipas,Mexico,LATAM,North,...,3,0.00,0.6600,1.32,Medium,2014,2014-12-31,2014,12,1
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,2,0.20,4.5188,0.89,Medium,2014,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,1,0.00,0.4200,0.49,Medium,2014,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,3,0.00,12.3600,0.35,Medium,2014,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,1,0.00,0.5600,0.20,Medium,2014,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,3,0.20,-0.6048,0.17,Medium,2014,2014-12-31,2014,12,1

In [28]:
df3.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week,company_cost
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.140,35.46,Medium,2011,2011-01-01,2011,1,52,35.46
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.036,9.72,Medium,2011,2011-01-01,2011,1,52,9.82
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.640,8.17,High,2011,2011-01-01,2011,1,52,8.17
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1,52,5.32
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.770,4.70,Medium,2011,2011-01-01,2011,1,52,4.80

In [29]:
# delete permanantly 
df3.drop('company_cost',axis=1,inplace = True)

In [30]:
df3.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2,0.0,106.140,35.46,Medium,2011,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,3,0.1,36.036,9.72,Medium,2011,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.0,29.640,8.17,High,2011,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.1,37.770,4.70,Medium,2011,2011-01-01,2011,1,52

In [31]:
# filter out row 2 and 3 from data set

df3.loc[[2,3]]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.0,29.640,8.17,High,2011,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.5,-26.055,4.82,High,2011,2011-01-01,2011,1,52

In [32]:
# filter out the row from 2nd to 10th 

df3.loc[2:10]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.00,29.6400,8.17,High,2011,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.50,-26.0550,4.82,High,2011,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.10,37.7700,4.70,Medium,2011,2011-01-01,2011,1,52
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,2,0.10,15.3420,1.80,Medium,2011,2011-01-01,2011,1,52
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,1,0.00,3.1200,24.10,Medium,2011,2011-01-02,2011,1,52
7,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,1,0.10,110.4120,125.32,Critical,2011,2011-01-03,2011,1,1
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,4,0.40,-319.4640,107.10,Low,2011,2011-01-03,2011,1,1
9,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,4,0.00,253.3200,81.26,High,2011,2011-01-03,2011,1,1
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,3,0.45,-122.8005,33.75,High,2011,2011-01-03,2011,1,1

In [33]:
# filter out the row from 2nd to 10th jumping with 2 rows

df3.loc[2:10:2]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.00,29.6400,8.17,High,2011,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.10,37.7700,4.70,Medium,2011,2011-01-01,2011,1,52
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,1,0.00,3.1200,24.10,Medium,2011,2011-01-02,2011,1,52
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,4,0.40,-319.4640,107.10,Low,2011,2011-01-03,2011,1,1
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,3,0.45,-122.8005,33.75,High,2011,2011-01-03,2011,1,1

In [35]:
#filter out partial section of the data set 

df3.loc[0:4,['order_id','order_date','ship_date']]

          order_id order_date ship_date
0     AG-2011-2040   1/1/2011  1/6/2011
1    IN-2011-47883   1/1/2011  1/8/2011
2     HU-2011-1220   1/1/2011  1/5/2011
3  IT-2011-3647632   1/1/2011  1/5/2011
4    IN-2011-47883   1/1/2011  1/8/2011

In [36]:
df3.iloc[0:4,0:3]

          order_id order_date ship_date
0     AG-2011-2040   1/1/2011  1/6/2011
1    IN-2011-47883   1/1/2011  1/8/2011
2     HU-2011-1220   1/1/2011  1/5/2011
3  IT-2011-3647632   1/1/2011  1/5/2011

In [37]:
df3.dtypes

order_id                        object
order_date                      object
ship_date                       object
ship_mode                       object
customer_name                   object
segment                         object
state                           object
country                         object
market                          object
region                          object
product_id                      object
category                        object
sub_category                    object
product_name                    object
sales                           object
quantity                         int64
discount                       float64
profit                         float64
shipping_cost                  float64
order_priority                  object
year                             int64
converted_order_date    datetime64[ns]
order_date_year                  int64
order_date_month                 int64
order_date_week                  int64
dtype: object

In [46]:
df4=df3[df3.dtypes[(df3.dtypes=='float64') | (df3.dtypes=='int64')].index]

In [47]:
df4

,quantity,discount,profit,shipping_cost,year,order_date_year,order_date_month,order_date_week
0,2,0.00,106.1400,35.46,2011,2011,1,52
1,3,0.10,36.0360,9.72,2011,2011,1,52
2,4,0.00,29.6400,8.17,2011,2011,1,52
3,3,0.50,-26.0550,4.82,2011,2011,1,52
4,5,0.10,37.7700,4.70,2011,2011,1,52
5,2,0.10,15.3420,1.80,2011,2011,1,52
6,1,0.00,3.1200,24.10,2011,2011,1,52
7,1,0.10,110.4120,125.32,2011,2011,1,1
8,4,0.40,-319.4640,107.10,2011,2011,1,1
9,4,0.00,253.3200,81.26,2011,2011,1,1
10,3,0.45,-122.8005,33.75,2011,2011,1,1
11,1,0.55,-70.3995,21.32,2011,2011,1,1
12,7,0.00,290.4300,12.56,2011,2011,1,1
13,1,0.00,50.1300,10.40,2011,2011,1,1
14,2,0.40,-95.6760,10.07,2011,2011,1,1
15,4,0.00,44.8800,8.43,2011,2011,1,1
16,2,0.00,42.9000,8.41,2011,2011,1,1
17,2,0.40,3.4200,8.34,2011,2011,1,1
18,2,0.40,-26.4120,8.17,2011,2011,1,1
19,2,0.47,-45.9018,7.74,2011,2011,1,1
20,3,0.10,4.7430,7.46,2011,2011,1,1
21,1,0.00,7.7700,5.91,2011,2011,1,1
22,2,0.00,8.7000,5.16,2011,2011,1,1
23,4,0.00,26.7600,5.11,2011,2011,1,1
24,1,0.00,17.0700,3.57,2011,2011,1,1
25,1,0.45,0.5460,0.80,2011,2011,1,1
26,1,0.00,4.1700,0.54,2011,2011,1,1
27,6,0.00,609.8400,109.13,2011,2011,1,1
28,4,0.00,13.2800,42.28,2011,2011,1,1
29,6,0.00,3.6000,16.39,2011,2011,1,1
...,...,...,...,...,...,...,...,...
51260,3,0.20,19.7910,7.21,2014,2014,12,1
51261,3,0.00,16.4400,6.34,2014,2014,12,1
51262,1,0.10,4.0530,6.11,2014,2014,12,1
51263,3,0.00,10.8600,6.00,2014,2014,12,1
51264,8,0.00,6.4000,5.64,2014,2014,12,1
51265,3,0.00,6.6600,5.22,2014,2014,12,1
51266,2,0.47,-14.2356,4.60,2014,2014,12,1
51267,2,0.50,-9.6900,4.46,2014,2014,12,1
51268,2,0.00,7.4400,4.16,2014,2014,12,1
51269,3,0.00,153.0900,4.12,2014,2014,12,1
51270,5,0.00,24.7500,4.06,2014,2014,12,1
51271,3,0.00,4.3200,3.88,2014,2014,12,1
51272,4,0.50,-6.4200,3.46,2014,2014,12,1
51273,2,0.00,9.1200,3.45,2014,2014,12,1
51274,1,0.60,-25.2780,3.40,2014,2014,12,1
51275,4,0.45,-37.2660,3.18,2014,2014,12,1
51276,3,0.00,17.2800,2.97,2014,2014,12,1
51277,2,0.00,1.2000,2.34,2014,2014,12,1
51278,3,0.00,3.9600,2.27,2014,2014,12,1
51279,5,0.00,8.2500,2.21,2014,2014,12,1
51280,6,0.00,6.8400,2.15,2014,2014,12,1
51281,2,0.20,6.4750,2.06,2014,2014,12,1
51282,4,0.00,6.1200,1.70,2014,2014,12,1
51283,3,0.00,25.3800,1.41,2014,2014,12,1
51284,3,0.00,0.6600,1.32,2014,2014,12,1
51285,2,0.20,4.5188,0.89,2014,2014,12,1
51286,1,0.00,0.4200,0.49,2014,2014,12,1
51287,3,0.00,12.3600,0.35,2014,2014,12,1
51288,1,0.00,0.5600,0.20,2014,2014,12,1
51289,3,0.20,-0.6048,0.17,2014,2014,12,1

In [48]:
df4[df4>100]

,quantity,discount,profit,shipping_cost,year,order_date_year,order_date_month,order_date_week
0,NaN,NaN,106.140,NaN,2011,2011,NaN,NaN
1,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
2,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
3,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
4,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
5,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
6,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
7,NaN,NaN,110.412,125.32,2011,2011,NaN,NaN
8,NaN,NaN,NaN,107.10,2011,2011,NaN,NaN
9,NaN,NaN,253.320,NaN,2011,2011,NaN,NaN
10,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
11,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
12,NaN,NaN,290.430,NaN,2011,2011,NaN,NaN
13,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
14,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
15,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
16,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
17,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
18,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
19,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
20,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
21,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
22,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
23,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
24,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
25,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
26,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
27,NaN,NaN,609.840,109.13,2011,2011,NaN,NaN
28,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
29,NaN,NaN,NaN,NaN,2011,2011,NaN,NaN
...,...,...,...,...,...,...,...,...
51260,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51261,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51262,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51263,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51264,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51265,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51266,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51267,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51268,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51269,NaN,NaN,153.090,NaN,2014,2014,NaN,NaN
51270,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51271,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51272,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51273,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51274,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51275,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51276,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51277,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51278,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51279,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51280,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51281,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51282,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51283,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51284,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51285,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51286,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51287,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51288,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN
51289,NaN,NaN,NaN,NaN,2014,2014,NaN,NaN

In [49]:
df5=df4[df4>100]

In [51]:
df5.dropna(axis=1) # check column which has no NAN values

       year  order_date_year
0      2011             2011
1      2011             2011
2      2011             2011
3      2011             2011
4      2011             2011
5      2011             2011
6      2011             2011
7      2011             2011
8      2011             2011
9      2011             2011
10     2011             2011
11     2011             2011
12     2011             2011
13     2011             2011
14     2011             2011
15     2011             2011
16     2011             2011
17     2011             2011
18     2011             2011
19     2011             2011
20     2011             2011
21     2011             2011
22     2011             2011
23     2011             2011
24     2011             2011
25     2011             2011
26     2011             2011
27     2011             2011
28     2011             2011
29     2011             2011
...     ...              ...
51260  2014             2014
51261  2014             2014
51262  2014             2014
51263  2014             2014
51264  2014             2014
51265  2014             2014
51266  2014             2014
51267  2014             2014
51268  2014             2014
51269  2014             2014
51270  2014             2014
51271  2014             2014
51272  2014             2014
51273  2014             2014
51274  2014             2014
51275  2014             2014
51276  2014             2014
51277  2014             2014
51278  2014             2014
51279  2014             2014
51280  2014             2014
51281  2014             2014
51282  2014             2014
51283  2014             2014
51284  2014             2014
51285  2014             2014
51286  2014             2014
51287  2014             2014
51288  2014             2014
51289  2014             2014

[51290 rows x 2 columns]

In [52]:
df5.dropna() # check rows which has no NAN values

Empty DataFrame
Columns: [quantity, discount, profit, shipping_cost, year, order_date_year, order_date_month, order_date_week]
Index: []

In [55]:
df5.dropna(thresh=3)

,quantity,discount,profit,shipping_cost,year,order_date_year,order_date_month,order_date_week
0,NaN,NaN,106.1400,NaN,2011,2011,NaN,NaN
7,NaN,NaN,110.4120,125.32,2011,2011,NaN,NaN
8,NaN,NaN,NaN,107.10,2011,2011,NaN,NaN
9,NaN,NaN,253.3200,NaN,2011,2011,NaN,NaN
12,NaN,NaN,290.4300,NaN,2011,2011,NaN,NaN
27,NaN,NaN,609.8400,109.13,2011,2011,NaN,NaN
43,NaN,NaN,999.3600,191.20,2011,2011,NaN,NaN
58,NaN,NaN,746.4078,258.99,2011,2011,NaN,NaN
59,NaN,NaN,274.4910,NaN,2011,2011,NaN,NaN
60,NaN,NaN,113.6742,NaN,2011,2011,NaN,NaN
64,NaN,NaN,143.1600,NaN,2011,2011,NaN,NaN
67,NaN,NaN,204.1092,NaN,2011,2011,NaN,NaN
83,NaN,NaN,NaN,349.87,2011,2011,NaN,NaN
84,NaN,NaN,260.8200,275.52,2011,2011,NaN,NaN
86,NaN,NaN,182.5200,NaN,2011,2011,NaN,NaN
100,NaN,NaN,511.0950,665.27,2011,2011,NaN,NaN
101,NaN,NaN,159.8700,134.59,2011,2011,NaN,NaN
102,NaN,NaN,276.6000,114.15,2011,2011,NaN,NaN
103,NaN,NaN,445.2600,NaN,2011,2011,NaN,NaN
125,NaN,NaN,NaN,178.98,2011,2011,NaN,NaN
126,NaN,NaN,238.0000,103.84,2011,2011,NaN,NaN
147,NaN,NaN,178.2000,NaN,2011,2011,NaN,NaN
149,NaN,NaN,165.3600,NaN,2011,2011,NaN,NaN
162,NaN,NaN,134.8800,NaN,2011,2011,NaN,NaN
163,NaN,NaN,479.8800,NaN,2011,2011,NaN,NaN
164,NaN,NaN,100.6200,NaN,2011,2011,NaN,NaN
173,NaN,NaN,238.6530,187.65,2011,2011,NaN,NaN
174,NaN,NaN,NaN,146.29,2011,2011,NaN,NaN
175,NaN,NaN,258.6960,141.35,2011,2011,NaN,NaN
180,NaN,NaN,102.9600,NaN,2011,2011,NaN,NaN
...,...,...,...,...,...,...,...,...
51034,NaN,NaN,NaN,255.42,2014,2014,NaN,NaN
51035,NaN,NaN,208.6080,182.20,2014,2014,NaN,NaN
51036,NaN,NaN,210.4936,156.45,2014,2014,NaN,NaN
51038,NaN,NaN,205.3440,NaN,2014,2014,NaN,NaN
51039,NaN,NaN,143.0820,NaN,2014,2014,NaN,NaN
51040,NaN,NaN,185.5200,NaN,2014,2014,NaN,NaN
51043,NaN,NaN,147.8000,NaN,2014,2014,NaN,NaN
51046,NaN,NaN,337.2600,NaN,2014,2014,NaN,NaN
51048,NaN,NaN,128.6400,NaN,2014,2014,NaN,NaN
51049,NaN,NaN,163.2000,NaN,2014,2014,NaN,NaN
51057,NaN,NaN,194.7945,NaN,2014,2014,NaN,NaN
51058,NaN,NaN,167.4300,NaN,2014,2014,NaN,NaN
51090,NaN,NaN,135.3600,NaN,2014,2014,NaN,NaN
51099,NaN,NaN,246.4800,NaN,2014,2014,NaN,NaN
51149,NaN,NaN,899.1000,236.49,2014,2014,NaN,NaN
51150,NaN,NaN,317.1600,184.60,2014,2014,NaN,NaN
51151,NaN,NaN,768.8800,155.85,2014,2014,NaN,NaN
51152,NaN,NaN,314.0384,139.47,2014,2014,NaN,NaN
51153,NaN,NaN,NaN,124.63,2014,2014,NaN,NaN
51154,NaN,NaN,NaN,101.88,2014,2014,NaN,NaN
51173,NaN,NaN,100.6560,NaN,2014,2014,NaN,NaN
51228,NaN,NaN,301.4660,253.25,2014,2014,NaN,NaN
51229,NaN,NaN,NaN,243.11,2014,2014,NaN,NaN
51230,NaN,NaN,NaN,138.18,2014,2014,NaN,NaN
51232,NaN,NaN,251.4000,NaN,2014,2014,NaN,NaN
51234,NaN,NaN,216.7200,NaN,2014,2014,NaN,NaN
51236,NaN,NaN,180.2400,NaN,2014,2014,NaN,NaN
51245,NaN,NaN,105.0000,NaN,2014,2014,NaN,NaN
51252,NaN,NaN,166.4400,NaN,2014,2014,NaN,NaN
51269,NaN,NaN,153.0900,NaN,2014,2014,NaN,NaN

In [56]:
df5.fillna(value=4)

,quantity,discount,profit,shipping_cost,year,order_date_year,order_date_month,order_date_week
0,4.0,4.0,106.140,4.00,2011,2011,4.0,4.0
1,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
2,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
3,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
4,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
5,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
6,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
7,4.0,4.0,110.412,125.32,2011,2011,4.0,4.0
8,4.0,4.0,4.000,107.10,2011,2011,4.0,4.0
9,4.0,4.0,253.320,4.00,2011,2011,4.0,4.0
10,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
11,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
12,4.0,4.0,290.430,4.00,2011,2011,4.0,4.0
13,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
14,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
15,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
16,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
17,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
18,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
19,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
20,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
21,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
22,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
23,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
24,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
25,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
26,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
27,4.0,4.0,609.840,109.13,2011,2011,4.0,4.0
28,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
29,4.0,4.0,4.000,4.00,2011,2011,4.0,4.0
...,...,...,...,...,...,...,...,...
51260,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51261,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51262,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51263,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51264,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51265,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51266,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51267,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51268,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51269,4.0,4.0,153.090,4.00,2014,2014,4.0,4.0
51270,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51271,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51272,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51273,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51274,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51275,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51276,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51277,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51278,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51279,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51280,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51281,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51282,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51283,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51284,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51285,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51286,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51287,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51288,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0
51289,4.0,4.0,4.000,4.00,2014,2014,4.0,4.0

In [58]:
# replace the NAN values with mean of the profit 

df5['profit'].mean()

285.71047695983293

In [59]:
df5.fillna(df5['profit'].mean())

,quantity,discount,profit,shipping_cost,year,order_date_year,order_date_month,order_date_week
0,285.710477,285.710477,106.140000,285.710477,2011,2011,285.710477,285.710477
1,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
2,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
3,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
4,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
5,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
6,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
7,285.710477,285.710477,110.412000,125.320000,2011,2011,285.710477,285.710477
8,285.710477,285.710477,285.710477,107.100000,2011,2011,285.710477,285.710477
9,285.710477,285.710477,253.320000,285.710477,2011,2011,285.710477,285.710477
10,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
11,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
12,285.710477,285.710477,290.430000,285.710477,2011,2011,285.710477,285.710477
13,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
14,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
15,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
16,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
17,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
18,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
19,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
20,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
21,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
22,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
23,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
24,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
25,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
26,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
27,285.710477,285.710477,609.840000,109.130000,2011,2011,285.710477,285.710477
28,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
29,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
...,...,...,...,...,...,...,...,...
51260,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51261,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51262,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51263,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51264,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51265,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51266,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51267,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51268,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51269,285.710477,285.710477,153.090000,285.710477,2014,2014,285.710477,285.710477
51270,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51271,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51272,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51273,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51274,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51275,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51276,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51277,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51278,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51279,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51280,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51281,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51282,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51283,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51284,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51285,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51286,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51287,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51288,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51289,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477

In [60]:
# what is the average profit in a year or per year

df3

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2,0.00,106.1400,35.46,Medium,2011,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,3,0.10,36.0360,9.72,Medium,2011,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.00,29.6400,8.17,High,2011,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.50,-26.0550,4.82,High,2011,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.10,37.7700,4.70,Medium,2011,2011-01-01,2011,1,52
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,2,0.10,15.3420,1.80,Medium,2011,2011-01-01,2011,1,52
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,1,0.00,3.1200,24.10,Medium,2011,2011-01-02,2011,1,52
7,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,1,0.10,110.4120,125.32,Critical,2011,2011-01-03,2011,1,1
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,4,0.40,-319.4640,107.10,Low,2011,2011-01-03,2011,1,1
9,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,4,0.00,253.3200,81.26,High,2011,2011-01-03,2011,1,1
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,3,0.45,-122.8005,33.75,High,2011,2011-01-03,2011,1,1
11,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,1,0.55,-70.3995,21.32,High,2011,2011-01-03,2011,1,1
12,ES-2011-4869686,1/3/2011,1/7/2011,Standard Class,Dorothy Dickinson,Consumer,England,United Kingdom,EU,North,...,7,0.00,290.4300,12.56,Medium,2011,2011-01-03,2011,1,1
13,IN-2011-33652,1/3/2011,1/9/2011,Standard Class,Dennis Pardue,Home Office,Sarawak,Malaysia,APAC,Southeast Asia,...,1,0.00,50.1300,10.40,Medium,2011,2011-01-03,2011,1,1
14,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,2,0.40,-95.6760,10.07,Low,2011,2011-01-03,2011,1,1
15,MX-2011-160234,1/3/2011,1/7/2011,Standard Class,Stewart Visinsky,Consumer,Guatemala,Guatemala,LATAM,Central,...,4,0.00,44.8800,8.43,Medium,2011,2011-01-03,2011,1,1
16,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,2,0.00,42.9000,8.41,Medium,2011,2011-01-03,2011,1,1
17,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,2,0.40,3.4200,8.34,Low,2011,2011-01-03,2011,1,1
18,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,2,0.40,-26.4120,8.17,Low,2011,2011-01-03,2011,1,1
19,ID-2011-12596,1/3/2011,1/8/2011,Standard Class,Chris McAfee,Consumer,Nakhon Ratchasima,Thailand,APAC,Southeast Asia,...,2,0.47,-45.9018,7.74,Medium,2011,2011-01-03,2011,1,1
20,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,3,0.10,4.7430,7.46,Critical,2011,2011-01-03,2011,1,1
21,IR-2011-7690,1/3/2011,1/8/2011,Second Class,Nat Gilpin,Corporate,Razavi Khorasan,Iran,EMEA,EMEA,...,1,0.00,7.7700,5.91,High,2011,2011-01-03,2011,1,1
22,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,2,0.00,8.7000,5.16,Medium,2011,2011-01-03,2011,1,1
23,TZ-2011-7370,1/3/2011,1/8/2011,Standard Class,Jack Garza,Consumer,Dar Es Salaam,Tanzania,Africa,Africa,...,4,0.00,26.7600,5.11,Medium,2011,2011-01-03,2011,1,1
24,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,1,0.00,17.0700,3.57,High,2011,2011-01-03,2011,1,1
25,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,1,0.45,0.5460,0.80,High,2011,2011-01-03,2011,1,1
26,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,1,0.00,4.1700,0.54,Medium,2011,2011-01-03,2011,1,1
27,MX-2011-111255,1/4/2011,1/9/2011,Second Class,Russell Applegate,Consumer,Parana,Brazil,LATAM,South,...,6,0.00,609.8400,109.13,Medium,2011,2011-01-04,2011,1,1
28,MX-2011-140641,1/4/2011,1/9/2011,Standard Class,Maya Herman,Corporate,YucatÂ n,Mexico,LATAM,North,...,4,0.00,13.2800,42.28,High,2011,2011-01-04,2011,1,1
29,MX-2011-158771,1/4/2011,1/11/2011,Standard Class,Beth Thompson,Home Office,Granma,Cuba,LATAM,Caribbean,...,6,0.00,3.6000,16.39,Medium,2011,2011-01-04,2011,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51260,CA-2014-143259,12/31/2014,1/4/2015,Standard Class,Patrick O'Donnell,Consumer,New York,United States,US,East,...,3,0.20,19.7910,7.21,High,2014,2014-12-31,2014,12,1
51261,MX-2014-116267,12/31/2014,1/3/2015,Second Class,Erica Bern,Corporate,S?o Paulo,Brazil,LATAM,South,...,3,0.00,16.4400,6.34,High,2014,2014-12-31,2014,12,1
51262,TZ-2014-8350,12/31/2014,1/3/2015,First Class,Joseph Airdo,Consumer,Dar Es Salaam,Tanzania,Africa,Africa,...,1,0.10,4.0530,6.11,High,2014,2014-12-31,2014,12,1
51263,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,3,0.00,10.8600,6.00,Medium,2014,2014-12-31,2014,12,1
51264,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,8,0.00,6.4000,5.64,Medium,2014,2014-12-31,2014,12,1
51265,ID-2014-58418,12/31/2014,1/2/2015,First Class,Joseph Airdo,Consumer,Anhui,China,APAC,North Asia,...,3,0.00,6.6600,5.22,High,2014,2014-12-31,2014,12,1
51266,IN-2014-30390,12/31/2014,1/3/2015,First Class,Justin Deggeller,Corporate,Bangkok,Thailand,APAC,Southeast Asia,...,2,0.47,-14.2356,4.60,High,2014,2014-12-31,2014,12,1
51267,IT-2014-3715679,12/31/2014,1/5/2015,Second Class,Jim Kriz,Home Office,North Brabant,Netherlands,EU,Central,...,2,0.50,-9.6900,4.46,High,2014,2014-12-31,2014,12,1
51268,MX-2014-116267,12/31/2014,1/3/2015,Second Class,Erica Bern,Corporate,S?o Paulo,Brazil,LATAM,South,...,2,0.00,7.4400,4.16,High,2014,2014-12-31,2014,12,1
51269,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,3,0.00,153.0900,4.12,Medium,2014,2014-12-31,2014,12,1
51270,IN-2014-23754,12/31/2014,1/7/2015,Standard Class,Kalyca Meade,Corporate,Guangdong,China,APAC,North Asia,...,5,0.00,24.7500,4.06,Medium,2014,2014-12-31,2014,12,1
51271,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,3,0.00,4.3200,3.88,Medium,2014,2014-12-31,2014,12,1
51272,IT-2014-3715679,12/31/2014,1/5/2015,Second Class,Jim Kriz,Home Office,North Brabant,Netherlands,EU,Central,...,4,0.50,-6.4200,3.46,High,2014,2014-12-31,2014,12,1
51273,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,2,0.00,9.1200,3.45,Medium,2014,2014-12-31,2014,12,1
51274,TU-2014-5170,12/31/2014,1/4/2015,Second Class,Valerie Dominguez,Consumer,Konya,Turkey,EMEA,EMEA,...,1,0.60,-25.2780,3.40,Medium,2014,2014-12-31,2014,12,1
51275,ID-2014-54442,12/31/2014,1/4/2015,Standard Class,Muhammed Yedwab,Corporate,National Capital,Philippines,APAC,Southeast Asia,...,4,0.45,-37.2660,3.18,Medium,2014,2014-12-31,2014,12,1
51276,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,3,0.00,17.2800,2.97,Medium,2014,2014-12-31,2014,12,1
51277,MX-2014-141712,12/31/2014,12/31/2014,Same Day,Rick Bensley,Home Office,Managua,Nicaragua,LATAM,Central,...,2,0.00,1.2000,2.34,Critical,2014,2014-12-31,2014,12,1
51278,MX-2014-168851,12/31/2014,1/2/2015,Second Class,Scott Cohen,Corporate,Durango,Mexico,LATAM,North,...,3,0.00,3.9600,2.27,High,2014,2014-12-31,2014,12,1
51279,ES-2014-4785777,12/31/2014,1/4/2015,Standard Class,Dennis Pardue,Home Office,Hamburg,Germany,EU,Central,...,5,0.00,8.2500,2.21,Medium,2014,2014-12-31,2014,12,1
51280,TZ-2014-8220,12/31/2014,1/6/2015,Standard Class,Christine Kargatis,Home Office,Dar Es Salaam,Tanzania,Africa,Africa,...,6,0.00,6.8400,2.15,Medium,2014,2014-12-31,2014,12,1
51281,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,2,0.20,6.4750,2.06,Medium,2014,2014-12-31,2014,12,1
51282,UP-2014-4410,12/31/2014,1/4/2015,Standard Class,Guy Thornton,Consumer,Zaporizhzhya,Ukraine,EMEA,EMEA,...,4,0.00,6.1200,1.70,Medium,2014,2014-12-31,2014,12,1
51283,IN-2014-23754,12/31/2014,1/7/2015,Standard Class,Kalyca Meade,Corporate,Guangdong,China,APAC,North Asia,...,3,0.00,25.3800,1.41,Medium,2014,2014-12-31,2014,12,1
51284,MX-2014-108574,12/31/2014,1/4/2015,Standard Class,Julia Barnett,Home Office,Tamaulipas,Mexico,LATAM,North,...,3,0.00,0.6600,1.32,Medium,2014,2014-12-31,2014,12,1
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,2,0.20,4.5188,0.89,Medium,2014,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,1,0.00,0.4200,0.49,Medium,2014,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,3,0.00,12.3600,0.35,Medium,2014,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,1,0.00,0.5600,0.20,Medium,2014,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,3,0.20,-0.6048,0.17,Medium,2014,2014-12-31,2014,12,1

In [62]:
df3.groupby('order_date_year')

In [63]:
df3.groupby('order_date_year')['profit'].mean() # what is the average profit in a year or per year

order_date_year
2011    27.666238
2012    28.043722
2013    29.604519
2014    28.758540
Name: profit, dtype: float64

In [64]:
# Avg shipping cost 

df3.groupby('order_date_year')['shipping_cost'].mean()

order_date_year
2011    27.147264
2012    25.861329
2013    26.418577
2014    26.268197
Name: shipping_cost, dtype: float64

In [72]:
df3.groupby('order_date_year')['sales'].mean()

order_date_year
2011    251.112581
2012    244.252235
2013    246.819335
2014    245.282129
Name: sales, dtype: float64

In [74]:
df3.groupby('order_date_year')['quantity'].mean()

order_date_year
2011    3.494443
2012    3.476647
2013    3.488369
2014    3.457989
Name: quantity, dtype: float64

In [75]:
# find the quantity sold per year 

df3.groupby('order_date_year')['quantity'].sum()

order_date_year
2011    31443
2012    38111
2013    48136
2014    60622
Name: quantity, dtype: int64

In [76]:
df3.groupby('order_date_year')['sales'].sum()

order_date_year
2011    2259511
2012    2677493
2013    3405860
2014    4300041
Name: sales, dtype: int32

In [65]:
df3.groupby('order_date_year')['discount'].mean()

order_date_year
2011    0.148188
2012    0.141286
2013    0.140265
2014    0.143291
Name: discount, dtype: float64

In [69]:
df3['sales']=df3.sales.str.replace(',', "").astype(int) # converted sales column to int

In [70]:
df3.sales.head()

0    408
1    120
2     66
3     45
4    114
Name: sales, dtype: int32

In [71]:
df3.dtypes

order_id                        object
order_date                      object
ship_date                       object
ship_mode                       object
customer_name                   object
segment                         object
state                           object
country                         object
market                          object
region                          object
product_id                      object
category                        object
sub_category                    object
product_name                    object
sales                            int32
quantity                         int64
discount                       float64
profit                         float64
shipping_cost                  float64
order_priority                  object
year                             int64
converted_order_date    datetime64[ns]
order_date_year                  int64
order_date_month                 int64
order_date_week                  int64
dtype: object

In [24]:
data = {'name': ['saima','sneha','akif','selina'],
        'salary':[100,500,750,900],
        'mail_id': ['abc@gmail.com','xyz@hotmail.com','abc@hotmail.com','opq@gmail.com'],
        'address':['canada','Italy','germany','toronto'],
        
       
       }

In [25]:
# convert dataset into dataframe

dataF=pd.DataFrame(data)

In [8]:
#dataF=pd.DataFrame(data, index=[4,5,6,7])

In [26]:
dataF

     name  salary          mail_id  address
0   saima     100    abc@gmail.com   canada
1   sneha     500  xyz@hotmail.com    Italy
2    akif     750  abc@hotmail.com  germany
3  selina     900    opq@gmail.com  toronto

In [11]:
dataF.loc[5:6] # loc always take named indexes

    name  salary          mail_id  address
5  sneha     500  xyz@hotmail.com    Italy
6   akif     750  abc@hotmail.com  germany

In [12]:
dataF.iloc[5:6] # output is not showing up coz iloc always takes default index

Empty DataFrame
Columns: [name, salary, mail_id, address]
Index: []

In [13]:
dataF.iloc[0:3]

    name  salary          mail_id  address
4  saima     100    abc@gmail.com   canada
5  sneha     500  xyz@hotmail.com    Italy
6   akif     750  abc@hotmail.com  germany

In [14]:
data1= { 'ph_no': [234,890,567,124],
        'income_tax': [908,354,897,545],
        'mobile_no':[23456,465758,9744632,743920],
        'courses': ['python','bigdata','ISTQB','devops']
        
    
    
}

In [21]:
pd.DataFrame(data1)

   ph_no  income_tax  mobile_no  courses
0    234         908      23456   python
1    890         354     465758  bigdata
2    567         897    9744632    ISTQB
3    124         545     743920   devops

In [20]:
dataF1=pd.DataFrame(data1)

In [17]:
# merge two dataframe dataF and dataF1

pd.concat([dataF,dataF1])

C:\Users\Sneha\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,address,courses,income_tax,mail_id,mobile_no,name,ph_no,salary
4,canada,NaN,NaN,abc@gmail.com,NaN,saima,NaN,100.0
5,Italy,NaN,NaN,xyz@hotmail.com,NaN,sneha,NaN,500.0
6,germany,NaN,NaN,abc@hotmail.com,NaN,akif,NaN,750.0
7,toronto,NaN,NaN,opq@gmail.com,NaN,selina,NaN,900.0
0,NaN,python,908.0,NaN,23456.0,NaN,234.0,NaN
1,NaN,bigdata,354.0,NaN,465758.0,NaN,890.0,NaN
2,NaN,ISTQB,897.0,NaN,9744632.0,NaN,567.0,NaN
3,NaN,devops,545.0,NaN,743920.0,NaN,124.0,NaN

In [27]:
pd.concat([dataF,dataF1], axis=1)

,name,salary,mail_id,address,ph_no,income_tax,mobile_no,courses
0,saima,100,abc@gmail.com,canada,234,908,23456,python
1,sneha,500,xyz@hotmail.com,Italy,890,354,465758,bigdata
2,akif,750,abc@hotmail.com,germany,567,897,9744632,ISTQB
3,selina,900,opq@gmail.com,toronto,124,545,743920,devops

In [5]:
data2= { 'emp_id':[101,102,103,104],
        'salary':[201,202,301,302],
        'ph':[21,31,51,91]
    
    
    
}

In [6]:
data3 = {'emp_id': [101,102,104,105],
         
         'mob_no': [243636,878291,182384,182736],
         'house_no': [354,876,354,987]

    
}

In [8]:
dataF2= pd.DataFrame(data2)

In [9]:
dataF2

   emp_id  salary  ph
0     101     201  21
1     102     202  31
2     103     301  51
3     104     302  91

In [10]:
dataF3 = pd.DataFrame(data3)

In [41]:
dataF3

   emp_id  mob_no  house_no
0     101  243636       354
1     102  878291       876
2     104  182384       354
3     105  182736       987

In [11]:
pd.merge(dataF2,dataF3) # merge operation

   emp_id  salary  ph  mob_no  house_no
0     101     201  21  243636       354
1     102     202  31  878291       876
2     104     302  91  182384       354

In [12]:
pd.merge(dataF2,dataF3, how = 'left')

   emp_id  salary  ph    mob_no  house_no
0     101     201  21  243636.0     354.0
1     102     202  31  878291.0     876.0
2     103     301  51       NaN       NaN
3     104     302  91  182384.0     354.0

In [13]:
pd.merge(dataF2,dataF3, how = 'right')

   emp_id  salary    ph  mob_no  house_no
0     101   201.0  21.0  243636       354
1     102   202.0  31.0  878291       876
2     104   302.0  91.0  182384       354
3     105     NaN   NaN  182736       987

In [17]:
data4= { 'emp_id1':[101,102,103,104],
        'salary':[201,202,301,302],
        'ph':[21,31,51,91]
    
    
    
}

In [20]:
dataFF3 = pd.DataFrame(data4)

In [21]:
dataFF3

   emp_id1  salary  ph
0      101     201  21
1      102     202  31
2      103     301  51
3      104     302  91

In [22]:
data5 = {'emp_id2': [101,102,104,105],
         
         'mob_no': [243636,878291,182384,182736],
         'house_no': [354,876,354,987]

    
}

In [23]:
dataFF4 = pd.DataFrame(data5)

In [24]:
dataFF4

   emp_id2  mob_no  house_no
0      101  243636       354
1      102  878291       876
2      104  182384       354
3      105  182736       987

In [26]:
pd.merge(dataFF3,dataFF4, left_on ='emp_id1', right_on= 'emp_id2', how='inner')

   emp_id1  salary  ph  emp_id2  mob_no  house_no
0      101     201  21      101  243636       354
1      102     202  31      102  878291       876
2      104     302  91      104  182384       354

In [34]:
data10= { 'emp_id1':[101,102,103,104],
        'salary':[201,202,301,302],
        'ph':[21,31,51,91]
    
    
    
}

data11 = {'emp_id2': [101,102,104,105,123],
         
         'mob_no': [243636,878291,182384,182736,78768],
         'house_no': [354,876,354,987,564]

    
}

In [35]:
df10 = pd.DataFrame(data10, index =['a','b','c','d'])

In [38]:
df10

   emp_id1  salary  ph
a      101     201  21
b      102     202  31
c      103     301  51
d      104     302  91

In [37]:
df11 = pd.DataFrame(data11, index = ['a','b','d','e','f'])

In [39]:
df11

   emp_id2  mob_no  house_no
a      101  243636       354
b      102  878291       876
d      104  182384       354
e      105  182736       987
f      123   78768       564

In [40]:
df10.join(df11)

   emp_id1  salary  ph  emp_id2    mob_no  house_no
a      101     201  21    101.0  243636.0     354.0
b      102     202  31    102.0  878291.0     876.0
c      103     301  51      NaN       NaN       NaN
d      104     302  91    104.0  182384.0     354.0

In [42]:
df_sales=pd.read_csv('sales_data_final.csv')

In [43]:
df_sales.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [47]:
def profit_flag(a):
    if a>=0:
        return'positive'
    
    else:
        return'negative'

In [45]:
profit_flag(-5)

'negative'

In [46]:
profit_flag(15)

'positive'

In [48]:
df_sales['flag_profit']= df_sales['profit'].apply(profit_flag)

In [49]:
df_sales.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,flag_profit
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011,positive
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011,positive
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011,positive
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,negative
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011,positive

In [50]:
df_sales['len_customer_name']= df_sales['customer_name'].apply(len)

In [51]:
df_sales.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,flag_profit,len_customer_name
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011,positive,15
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011,positive,11
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011,positive,13
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,negative,12
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011,positive,11

In [52]:
def quantity_flag(a):
    if a<10:
        return'low'
    elif a>10 and a<20:
        return'medium'
    else:
        return 'high'

In [53]:
df_sales['flag_quantity']=df_sales['quantity'].apply(quantity_flag)

In [54]:
df_sales.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sales,quantity,discount,profit,shipping_cost,order_priority,year,flag_profit,len_customer_name,flag_quantity
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,408,2,0.0,106.140,35.46,Medium,2011,positive,15,low
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,120,3,0.1,36.036,9.72,Medium,2011,positive,11,low
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,66,4,0.0,29.640,8.17,High,2011,positive,13,low
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,45,3,0.5,-26.055,4.82,High,2011,negative,12,low
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,114,5,0.1,37.770,4.70,Medium,2011,positive,11,low

In [55]:
df_sales['square_quantity']= df_sales['quantity'].apply(lambda a: a**2)

In [56]:
df_sales.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,flag_profit,len_customer_name,flag_quantity,square_quantity
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2,0.0,106.140,35.46,Medium,2011,positive,15,low,4
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,3,0.1,36.036,9.72,Medium,2011,positive,11,low,9
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.0,29.640,8.17,High,2011,positive,13,low,16
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.5,-26.055,4.82,High,2011,negative,12,low,9
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.1,37.770,4.70,Medium,2011,positive,11,low,25

In [57]:
import numpy as np

In [58]:
np.array([2,3,4,5,6])

array([2, 3, 4, 5, 6])

In [59]:
type(np.array([2,3,4,5,6]))

numpy.ndarray

In [60]:
np.array([[2,3,4], [4,5,6]])

array([[2, 3, 4],
       [4, 5, 6]])

In [61]:
L = [[1,2,3,4],[2,4,5,6]]

In [63]:
L[0] #extract first index

[1, 2, 3, 4]

In [67]:
L[0][0] #extract first value of first index

1

In [68]:
L[1][2]

5

In [69]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [70]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [71]:
arr.ndim

2

In [73]:
np.random.randint(1,10,(4,4))

array([[2, 4, 1, 8],
       [8, 4, 4, 9],
       [7, 8, 2, 1],
       [7, 6, 1, 2]])

In [74]:
np.random.randint(1,10,(4,4,2))

array([[[7, 9],
        [1, 5],
        [3, 4],
        [2, 9]],

       [[7, 8],
        [3, 8],
        [3, 1],
        [8, 6]],

       [[4, 5],
        [7, 8],
        [9, 1],
        [4, 1]],

       [[4, 6],
        [5, 9],
        [8, 6],
        [6, 4]]])